.headerbar
	a.navbar-link(href="/logout")
		i.icon-signout &nbsp;&nbsp;
		| 退出登录
	span
		i.icon-user &nbsp;&nbsp;
		| 欢迎您，#{user.name}
	span
		i.icon-time &nbsp;&nbsp;
		b.fn#system-time 0000-00-00 星期一 00:00:00
.menu
	.menuHead
		h1
			a.block(href="/") imooc
		span.menutoggle
			i.icon-reorder
	dl
		dd
			a.menuBtn
				i.icon-home
				span 后台首页
		dd
			span.menuBtn
				i.icon-list-alt
				span 文章设置
			ul.sMenu
				li
					a(href="/admin/news/category/list") 分类列表
				li
					a(href="/admin/news/list") 文章列表
		dd
			span.menuBtn
				i.icon-film
				span 电影设置
			ul.sMenu
				li
					a(href="/admin/movie/category/list") 分类列表
				li
					a(href="/admin/movie/list") 电影列表
		dd
			a.menuBtn(href="/admin/banner/list")
				i.icon-picture
				span 海报设置
		dd
			a.menuBtn(href="/admin/user/list")
				i.icon-user
				span 用户列表

script.
	function GetQueryString(name)
	{
		var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
		var r = window.location.search.substr(1).match(reg);
		if(r!=null)return  unescape(r[2]); return null;
	}
	$('.menu').find('a').each(function(){
		var $t = $(this);
		var url = window.location.pathname;
		var href = $t.attr('href');

		var s = url.indexOf(href);
		if(s == 0){
			$t.addClass('Stand');
			var $par = $t.parents('ul');
			//- alert($par.html())

			if($par.hasClass('sMenu')){
				$par.show().prev('span').addClass('Stand Active')
			}
			return false;
		}
		//- alert()
	});


	(function(){
	    var system_timestamp=parseInt('{{$system_timestamp}}');
	    if(!isNaN(system_timestamp) && 0<system_timestamp){
	        system_timestamp*=1000;
	    } else {
	        system_timestamp=(new Date()).getTime();
	    }
	    var interval = setInterval(function(){
	        // 简体、繁体的时间格式可以用 “2016-09-10 星期一 17:11:07”
	        var d=CurentTime(system_timestamp),
	        	time=document.getElementById('system-time');
	    	time.innerHTML='<i class="icon-clock2 mr5"></i>'+d;
	    	system_timestamp+=1000;
	    }, 1000);
	})();

	function CurentTime(system_timestamp) {
	    if(system_timestamp){
	        var now=new Date(system_timestamp);
	    }
	    else {
	        var now = new Date();
	    }

	    var Week = [ '日', '一', '二', '三', '四', '五', '六' ];
	    var weekday = '星期' + Week[now.getDay()];
	    var timestr=now.getFullYear()
	                +'-'+('0'+now.getMonth()+1).slice(-2)
	                +'-'+('0'+now.getDate()).slice(-2)
	                +' '+weekday
	                +' '+('0'+now.getHours()).slice(-2)
	                +':'+('0'+now.getMinutes()).slice(-2)
	                +':'+('0'+now.getSeconds()).slice(-2);
	    return timestr;
	}

	$(function(){
		// 缩小菜单
		var $menu = $('.menu'),
			$admin_wrap = $('.admin_wrap'),
			isMax = true;
		$('.menutoggle').click(function(){
			if(!$menu.hasClass('mMini')){
				$menu.addClass('mMini');
				$admin_wrap.css('margin-left','50px');
				$('.sMenu').attr('style','');
				isMax = false;
			}else{
				$menu.removeClass('mMini');
				$admin_wrap.css('margin-left','210px');
				isMax = true;
			}
		});
		// 正常菜单点击
		$('.menuBtn').click(function(){
			if(isMax){
				var $this = $(this),
				thisParents = $this.parents('dl'),
				thisUl = $(this).next('ul'),
				thisLi = thisUl.children('li'),
				liLen = thisLi.length;
				if(!$this.hasClass('Active')){
					var i = thisParents.find('.Active').parent('dd').index();
					thisParents.find('.Active').parent('dd').children('.menuBtn').removeClass('Active').next('ul').animate({'height':0},200,function(){
					    $(this).hide();
					});
					$this.addClass('Active');
					thisUl.show().animate({'height':liLen*35},200);
				}else{
					$this.removeClass('Active');
					thisUl.animate({'height':0},200,function(){
					    $(this).hide();
					});
				}
			}
		});
	});
