#singn_menu
	.wrap
		//- h1.fl ICOOMTEST
		div.fr
			if user
				a(href="/user/#{user.name}")
					img(src='/images/#{user.avatar}')
				a(href="/user/#{user.name}")
					span #{user.name}的个人中心
				span &nbsp;&nbsp;|&nbsp;&nbsp;
				a.navbar-link(href="/logout")
					i.icon-signout.mr5
					| 退出登录
				if user.role > 50
					span &nbsp;&nbsp;|&nbsp;&nbsp;
						a(href="/admin/news/list")
							i.icon-cog.mr5
							| 后台管理
			else
				//- a.navbar-link(href="/signup", data-toggle="modal", data-target="#signupModal")
				a.navbar-link(href="/signup")
					i.icon-pencil.mr5
					| 注册
				span &nbsp;&nbsp;|&nbsp;&nbsp;
				//- a.navbar-link(href="/signin", data-toggle="modal", data-target="#signinModal")
				a.navbar-link(href="/signin")
					i.icon-user.mr5
					| 登录
style.
	#signinModal{
		width:700px;display:none;
		position:fixed;z-index:101;
		top:10%;left:50%;margin:0 0 0 -200px;
		background-color:white;
	}

if captcha
	from.sign_form#signinModal.pf
		.sign_form_head &nbsp;
			i.icon-lock
			span 用户登录
		ul.sign_form_content
			li
				input#signName.signName.form_control(name="user[name]", type="text", placeholder="请输入用户名")
				label(for="signName")
					i.icon-user
			li
				input#signPassword.signPassword.form_control(type="password", placeholder="请输入密码")
				label(for="signPassword")
					i.icon-key 
			li
				input#captcha.captcha.form_control.fl(type="text", placeholder="请输入验证码",maxlength="4",style="width:30%")
				label(for="captcha")
					i.icon-lock
				span.cp.changeCaptcha.inlineBlock.ml10 !{captcha.data}
			li.sign_tip
				i.icon-question-sign
				| &nbsp;还没有注册会员？
				a.cBlue.textUnderline(href="signup") 点击注册
			
		.sign_form_foot
			button.button.button-raised.button-primary.sign-success(signtype="inquirylist", type="submit") 登 录
		script(src="/js/sign.js")
script.
	var standScroll = 0;
	$(window).scroll(function(){
		var scroll = $(this).scrollTop();

		if(standScroll<scroll){
			$('#singn_menu').stop(true,false).animate({'bottom':-60},100);
		}else{
			$('#singn_menu').stop(true,false).animate({'bottom':0},100);
		}
		standScroll = scroll
	});



