extends ../layout_index
block append head
	link(rel="stylesheet" href="/css/user.css")
block content
	.wrap.nav
		a(href="/news")
			i.fs14.icon-home
		b 我的个人中心
	.user-frame.wrap
		.user_info
			img(src=`/images/${user.avatar}`)
			h3.base-color-dark.mt5 #{user.name}
			.user_role.mt15
				span
					if user.role > 50
						| 超级管理员
					else
						| 注册会员
				a.user_setting_btn.animation(href=`/user/${user.name}/setting`)
					i.icon-cog
			.user_role.mt15
				span 注册时间：#{moment(user.meta.createAt).format('YYYY / MM / DD')}
		.user_details
			h4.mb15.cd.base-color-dark
				i.icon-comments-alt.mr5.ml5
				if moment().format('a') === 'am'
					| 早上好！
				else
					| 下午好！
				| #{user.name}
				span.ml5.mr5 欢迎登录
				| VITEHOME
			.user_details_head
				if inquiries.length >= 5
					a.fr.fn.fs12.cGray(href=`/user/${user.name}/inquiries`) 更多 
						i.fs14.icon-double-angle-right
				i.icon-list.mr10
				a.base-color-dark(href=`/user/${user.name}/inquiries`) 我的询价单
			table.table_striped.table_bordered
				tr
					th 订单号
					th 创建时间
					th 是否回复
					th 操作
				if inquiries && inquiries.length > 0
					each item in inquiries
						tr.tc
							td
								a.base-color-dark(href=`/user/${user.name}/inquiries/${item._id}`) #{'No.' + item._id}
							td #{moment(item.meta.createAt).format('YYYY/MM/DD')}
							td
							td
								a(href=`/user/${user.name}/inquiries/${item._id}`).base-button.b-primary.b-tiny 查看
				else
					tr
						td.user_details_empty_tip.tc(colspan="4")
							p.mb15.fs16.fb 目前没有创建任何询价单
							a.button.button-primary.button-rounded(href="/inquiry")
								i.icon-reorder.mr10
								| 我的询价单
			.user_details_head.mt20
				if favouritegoods.length >= 5
					a.fr.fn.fs12.cGray(href=`/user/${user.name}/favourite`) 更多 
						i.fs14.icon-double-angle-right
				i.icon-star.mr10
				a.base-color-dark(href=`/user/${user.name}/favourite`) 我的收藏
			table.table_striped.table_bordered.tc
				tr
					th(width=80) 图片
					th 名称
					th(width=170) 单价
					th(width=100) 操作
				if favouritegoods && favouritegoods.length > 0
					each favourite in favouritegoods
						tr(id=favourite.id)
							td
								img(src=`/data/goods/${favourite.id}/${favourite.cover}` width="80" height="80")
							td(style="vertical-align:top;")
								ul.tl.fs11.cGray.line-height-normal
									li
										a.base-color-dark.fb.fs15(href=`/goods/id/${favourite.id}` target="_blank") #{favourite.title}
									li 尺寸：
										span.ml5 #{formatSize(favourite.size)}
									if favourite.scene && favourite.scene.length > 0
										li 场景：
											each scene in favourite.scene
												span.ml5 #{scene.attributes.zh_cn}
									if favourite.sort && favourite.sort.length > 0
										li 类型：
											each sort in favourite.sort
												span.ml5 #{sort.attributes.zh_cn}
									if favourite.material && favourite.material.length > 0
										li 材质：
											each material in favourite.material
												span.ml5 #{material.attributes.zh_cn}
									if favourite.color && favourite.color.length > 0
										li 颜色：
											each color in favourite.color
												span.ml5 #{color.attributes.zh_cn}
							td.fb.fs16(class=favourite.sale&&'goods-sale')
								span #{formatPrice(favourite.price)}
								if favourite.sale
									span #{formatPrice(favourite.sale)}
							td
								a(href=`/goods/id/${favourite.id}` target="_blank").base-button.b-primary.b-tiny 查看
				else
					tr
						td.user_details_empty_tip.tc(colspan="4")
							p.mb15.fs16.fb 目前收藏夹没有商品
							a.button.button-royal.button-rounded(href="/store")
								i.icon-magnet.mr10
								| 浏览商城
	.bg_fixed