extends ../../../layout_index
block append head
	meta(name="robots" content="nofollow")
	link(rel="stylesheet",href="/css/user.css")
block content
	.wrap.nav
		a(href="/")
			i.fs14.icon-home
		a(href="/user/#{user.name}") 我的个人中心
		b 用户设置
	.user_frame
		ul.user_page_menu
			li.Stand
				i.icon-user.mr5
				|资料修改
			li
				i.icon-key.mr5
				|密码修改
			li
				i.icon-picture.mr5
				|头像修改
		.user_page
			ul.user_page_list
				li.base-color-dark
					span.user_page_list_first 用户名：
					| #{user.name}
				li
					span.user_page_list_first 注册时间：
					| #{moment(user.meta.createAt).format('YYYY / MM / DD')}
				//- li
					span.user_page_list_first 邮箱：
					input(type="text" value=user.email)
				//- li
					span.user_page_list_first 手机号码：
					input(type="text" value=user.phone)
				//- li
					span.user_page_list_first 网址：
					input(type="text")
				//- li
					span.user_page_list_first
					button.button.button-primary.button-small 确定修改
		.user_page.none
			form(action="/user/changeword", autocomplete="off")
				ul.user_page_list
					li.base-color-dark
						span.user_page_list_first 当前密码：
						input#oldPassword(type="password", name="oldpassword")
					li
						span.user_page_list_first 新密码：
						input#newPassword(type="password", name="newpassword", autocomplete="off")
					li
						span.user_page_list_first 重复新密码：
						input#reNewPassword(type="password", name="renewpassword", autocomplete="off")
					li
						span.user_page_list_first
						button.postPasswordBtn.button.button-primary.button-small(type="submit") 确定修改
		.user_page.none
			.user_edit_avatar
				img(src="/images/"+user.avatar)
				span 当前头像
	.bg_fixed

	script(src="/js/jquery.vtEnterKeyPress.js")
	script.
		$('#oldPassword,#newPassword,#reNewPassword').val("");
		$('.user_page_menu li').click(function(){
			if($(this).hasClass('Stand')) return false
			var index = $(this).index()
			$('.user_page_menu li').removeClass('Stand').eq(index).addClass('Stand')
			$('.user_page').addClass('none').eq(index).removeClass('none')
		})


		// 设置用户注册参数
		var changePasswordConfig = [
			{
				element: $('#oldPassword'),
				unkeynumber: [32],
				errorText:[
					"请输入当前密码！",
					"当前密码输入不正确，请重新输入！"
				]
			},
			{
				element: $('#newPassword'),
				unkeynumber: [32],
				errorText:[
					"请输入新密码！",
					"请不要设成与旧密码一致，请重新输入！"
				]
			},
			{
				element: $('#reNewPassword'),
				unkeynumber: [32],
				errorText: [
					"与上面输入密码不一致，请重新输入！"
				]
			}
		]
		$('.user_page_list').enterKeyPress(changePasswordConfig)

		//- 错误提示
		function addErrorTip(element, tipText, focus){
			if(!element.hasClass('input_error')){
				var errorHtml = '<span class="input_error_text ml15 fs12 cRed cd" >'
							  + '<i class="icon-exclamation-sign mr5"></i>'
							  + tipText + '</span>'
				element.addClass('input_error').after(errorHtml)
				if(focus){
					element.focus()
				}
			}
		}

		function removeErrorTip(element){
			element.removeClass('input_error').next('.input_error_text').remove()
		}
		//- 正确提示
		function addSuccessTip(element){
			if(!element.hasClass('input_success')){
				var successHtml = '<span class="input_success_text ml15 fs12 cGreen cd">'
								+ '<i class="icon-ok-sign"></i></span>'
				element
					.addClass('input_success')
					.after(successHtml)
			}
		}
		function removeSucessTip(element){
			element.removeClass('input_success').next('.input_success_text').remove()
		}

		//- 验证当前密码
		$('#oldPassword').blur(function(){
			var that = $(this)
			var oldpassword = that.val()
			var postUrl = '/user/changeword?oldpassword='+oldpassword

			//- 验证当前数据
			$.ajax({
				type: "post",
				url: postUrl
			})
			.done(function(res){
				if(res.success === 1){
					addSuccessTip(that)
					//- 验证成功后禁止输入
					that.attr('disabled','disabled')
				}else if(res.success === 2){
					addErrorTip(that, changePasswordConfig[0].errorText[1], false)
				}
			})

		})



		// 检查输入框是否为空
		function checkInputValue(elements, btn_element, type){
			var $oldPassword = elements[0].element,
				$newPassword = elements[1].element,
				$reNewPassword = elements[2].element
			for(index in elements){
				var $this = elements[index].element
				if(!$this.val()){
					addErrorTip($this, elements[index].errorText[0], true)
					return false
				}else{
					if($oldPassword.hasClass('input_error')){
						//- 判读当前密码是否还是错误的
						$oldPassword.focus()
						return false
					}else if($oldPassword.val() === $newPassword.val()){
						//- 判读当新密码是否和旧密码一样
						addErrorTip($newPassword, elements[1].errorText[1], true)
						$newPassword.focus()
						return false
					}else if($newPassword.val() !== $reNewPassword.val()){
						//- 判读新密码重复输入是否正确
						addErrorTip($reNewPassword, elements[2].errorText[0], true)
						$reNewPassword.focus()
						return false
					}else{
						removeErrorTip($this)
						var postUrl = '/user/changeword?oldpassword=' + $oldPassword.val()
									+ '&newpassword=' + $newPassword.val()
									+ '&renewpassword=' + $reNewPassword.val()
						//- 返回最终要上传的数据
						if($oldPassword.val()!=="",$newPassword.val()!=="",$reNewPassword.val()!==""){
							return postUrl
						}
					}
						
				}
			}
			
		}
		//- 重置输入框
		function resetInputValue(elements){
			for(index in elements){
				var ele = elements[index].element
				console.log(ele)
				if(index == 0){
					ele.val('').removeClass('input_success').removeAttr('disabled').next('.input_success_text').remove()
				}else{
					ele.val('').blur()
				}
			}
		}

		
		$('.postPasswordBtn').click(function(){
			checkInputValue(changePasswordConfig, $('.postPasswordBtn'))
			
			var postUrl = checkInputValue(changePasswordConfig, $('.postPasswordBtn'))
			if(postUrl){
				arttip("<i class='icon-spinner icon-spin'></i> Loading...")
				$.ajax({
					type: "post",
					url: postUrl
				})
				.done(function(res){
					if(res.success === 3){
						resetInputValue(changePasswordConfig)
						arttipclose('<i class="icon-ok-circle"></i> 修改成功！', 1000)
					}else{
						arttipclose('<i class="icon-ok-circle"></i> 修改失败或网络超时！', 1000)
					}
				})
			}
			return false
		})

		

