block append head
	link(rel="stylesheet" href="/css/goods/fiter.css")
if allCategoryType && allCategoryType.length > 0
	each parentItem in allCategoryType
		div.fiter-nav-wrap
			if parentItem.cid && parentItem.cid.length > 0
				dl.fiter-nav.wrap
					dt #{parentItem.name.zh_cn}
					dd
						a(href=GetUrl(parentItem.name.en_us)) 全部
						each cidItem in parentItem.cid
							a(href=GetUrl(parentItem.name.en_us, cidItem._id) 
								class=`${url_key_obj[parentItem.name.en_us] === cidItem._id+'' ? 'On cb': ''}`) #{cidItem.attributes.zh_cn}
	-	function GetUrl(now_key, now_id){
	-		var URL_KEY_OBJ = JSON.parse(JSON.stringify(url_key_obj))
	-		if(!now_id && URL_KEY_OBJ[now_key]){
	-			delete URL_KEY_OBJ[now_key]
	-		}
	//- -	循环现有的参数
	-		var URL = ''
	-		for(key in URL_KEY_OBJ){
	-			var KEY = key+'=' + (key === now_key ? now_id : URL_KEY_OBJ[key])
	-			URL += '&' + KEY
	-		}
	//- -	如果传入的参数不存在，就在路径上新增
	-		if(now_id && !URL_KEY_OBJ[now_key]) URL += '&'+now_key+'='+now_id
	-		URL = !URL.length ? '/store' : '?'+URL.substr(1)
	-		return URL
	-	}