//- 通用分页

- if(totalPage>1){
	- if(currentPage-1 == 0){
			span.page_unclick: i.icon-double-angle-left
			span.page_unclick: i.icon-angle-left
	-	}else{
			a(href=url_public+'p=0',csstip-top='第一页'): i.icon-double-angle-left
			a(href=url_public+'p=#{currentPage-1}',csstip-top='上一页'): i.icon-angle-left
	-	}
	-	for(var i=0;i<totalPage; i++){
		-	if(currentPage == (i+1)){
				span.page_stand #{currentPage}
		-	}else{
				a(href=url_public+'p=#{i}') #{i+1}
		-	}
	-	}
	- if(currentPage < totalPage){
			a(href=url_public+'p=#{currentPage}',csstip-top='下一页'): i.icon-angle-right
			a(href=url_public+'p=#{totalPage-1}',csstip-top='最后一页'): i.icon-double-angle-right
	-	}else{
			span.page_unclick: i.icon-angle-right
			span.page_unclick: i.icon-double-angle-right
	-	}
- }