a.fs0.block(href="/store/id/"+item.id)
	img(src='/data/products/p'+item.id+'/'+item.cover)
//- div.ip_bg
ul.ip_description
	li
		a(href="/store/id/"+item.id).ip_title
			|#{item.title}
			if item.material && item.material.length > 0
				|&nbsp;#{item.material[0].attributes.zh_cn}
			else
				|&nbsp;未知材料
			|&nbsp;宽#{item.size.w}×深#{item.size.d}×高#{item.size.h}cm
			if item.color && item.color.length > 0
				|&nbsp;/ #{item.color[0].attributes.zh_cn}
			else
				|&nbsp;/ 未知颜色
	li
		if item.sale
			span.ip_tag 特价商品
		if (moment(item.meta.createAt).add('hour',8).fromNow()).indexOf('ago') < 0
			span.ip_tag 新品
		if user
			span#ip_favourite.ip_tag.cp.ip_favourite_btn(class="#{item.favourite.indexOf(user._id) > -1 ? 'On' : ''}")
				i.icon-star
				i.icon-star-empty
				b.ip_favourite_num #{item.favourite.length}
		else
			span#ip_favourite.ip_tag.cp(data-toggle="modal", data-target="#signinModal")
				i.icon-star
				i.icon-star-empty
				b.ip_favourite_num #{item.favourite.length}
	li
		span(class="iproduct_add_cart_btn #{cart_goods.indexOf(item.id) > -1 ? 'Stand' : '' + ' cp animation'}")
			i.icon-shopping-cart
			input(type="hidden",name="p[id]",value=item.id)
			input(type="hidden",name="p[quantity]",value="1")
		if item.sale
			small.ip_price ￥#{item.sale}.00
			small.ip_old_price ￥#{item.price}.00
		else
			small.ip_price ￥#{item.price}.00