extends ../layout_index
block append head
	link(rel="stylesheet",href="/css/sign.css")
block content
	.sign_bg.blur(style=`background-image:url(images/background/${bgsrc})`)
	.sign_form
		h1.sign_top
			| 梵特家具网
			a.logo-icon.mt20(href="/")
				i.icon-home.base-color-dark
		.sign_form_head &nbsp;
			i.icon-edit
			span #{title}
		form(method="POST", action="/user/signup" )
			ul.sign_form_content
				li
					input#signupName.form-control(name="signup[name]", type="text", placeholder="请输入用户名", style="ime-mode:disabled")
					label(for="signupName")
						i.icon-user
				li
					input#signupPassword.form-control(name="signup[password]",type="password", placeholder="请输入密码")
					label(for="signupPassword")
						i.icon-key
				li
					input#reSignupPassword.form-control(name="signup[repassword]",type="password", placeholder="请再次输入密码")
					label(for="reSignupPassword")
						i.icon-key
				li.sign_tip
					i.icon-question-sign 
					| &nbsp;已经注册了会员？
					a.cBlue.textUnderline(href="signin") 点击登录
			
			.sign_form_foot.cd
				button#signupBtn.button.button-raised.button-primary(type="submit") 注 册
				.sign_form_foot_info
					h6 VINTE
					p
						a.cWhite.fs12(href=baseInfo.beianUrl target="_blank") #{baseInfo.beianNum}
						- var YEAR = new Date().getFullYear()
						p #{baseInfo.Copyright()}
		//- div.pa.signup-select-menu
		//- 	a(href="/") 邮箱注册
		//- 	a(href="/") 手机注册
	//- h3.bgword
		i.icon-quote-left.icon-3x.pull-left
		| #{bgword}
	script(src="js/sign.js")
	script(src="js/jquery.vtEnterKeyPress.js")
	script.
		$('#signupName').focus()
		// 设置用户注册参数
		var signupConfig = [
			{
				element: $('#signupName'),
				unkeynumber: [32,59,188,190,191,219,220,221,222],
				errorText: "请输用户名！"
			},
			{
				element: $('#signupPassword'),
				unkeynumber: [32],
				errorText: "请输入密码！"
			},
			{
				element: $('#reSignupPassword'),
				unkeynumber: [32],
				errorText: "与上面输入密码不一致，请重新输入！"
			}
		]
		$('.sign_form_content').enterKeyPress(signupConfig)

		$('#signupBtn').click(function(){
			CheckInputValue(signupConfig, $(this), 'signup', document.referrer)
			return false
		});
		