//- .bg_fixed

if !header_hide
	.footer.bg-slash
		.g-head-title.fb.tc
			i.icon-comments.mr10
			| 商务咨询
			br
			span Business inquiries
		.wrap.cd.mt20
			div.footer-info
				p
					i.icon-quote-left.mr5
					| #{global.baseInfo.description[0]}
				p #{global.baseInfo.description[1]}
				p.fb
					i.icon-phone.mr5
					| #{global.baseInfo.email}
				p.fb
					i.icon-envelope.mr5
					| #{global.baseInfo.telephone}
				p.fb
					i.icon-map-marker.mr5
					| #{global.baseInfo.addr}
			//- form(action="/message", method="POST")
			section
				ul.footer-message
					li(focus-tip-text="请输入公司名称或者你的名字")
						input.f-msg-name(type="text" name="name" placeholder="请输入公司名称或者你的名字" )
					li(focus-tip-text="请输入你的电话号码")
						input.f-msg-phone(type="text" name="phone" placeholder="请输入你的电话号码")
					li(focus-tip-text="请输入你的电子邮箱地址")
						input.f-msg-email(type="text" name="email" placeholder="请输入你的电子邮箱地址")
					li(focus-tip-text="请输入你的留言内容")
						textarea.f-msg-info(name="infomation" placeholder="请输入你的留言内容")
					li
						if user
							input.f-user-id(type="hidden" value=user._id)
						button.cp.footer-message-btn 确认发送
			br.clear
	.footer-bottom
		.wrap.tr.fs12
			- var YEAR = new Date().getFullYear()
			a.cWhite(href="http://www.beian.miit.gov.cn" target="_blank") 粤ICP备17070570号
			|	Copyright © 2017 - #{YEAR}, All Rights Reserved
	//- - console.log('captcha:'+!captcha)
	if !urser && captcha
		include ../../../themplate/signin_modal

script(src="/js/jquery_art_alert.js")
script(src="/js/jquery_vt_enter_key_press.js")
script.
	//- 添加懒加载 vtLazyload(class, 延迟时间, 间隔时间)
	$.vtLazyload('.vtLazyload', 500, 1000)
	var sendMsgConfig = [
		{
			element: $('.f-msg-name'),
			unkeynumber: [32,59,188,190,191,219,220,221,222]
		},
		{
			element: $('.f-msg-phone'),
			unkeynumber: [32]
		},
		{
			element: $('.f-msg-email'),
			unkeynumber: [32]
		},
		{
			element: $('.f-msg-info'),
			unkeynumber: [32]
		}
	]
	$('.sign_form_content').enterKeyPress(sendMsgConfig)
	$('.footer-message-btn').click(function(){
		if(checkAllElementVal(sendMsgConfig) !== false){
			$.artTip({title: '<i class="icon-spinner icon-spin"></i> 加载中...'})
			var data = {
				name: sendMsgConfig[0].element.val(),
				phone: sendMsgConfig[1].element.val(),
				email: sendMsgConfig[2].element.val(),
				infomation: sendMsgConfig[3].element.val(),
				uid: $('.f-user-id').val()
			}
			//- return false
			
			
			$.ajax({
				type:"POST",
				url:"/message",
				data:data,
				dataType:"json",
				async:false,
				cache:false,
				success: function(data){
					if(data.success === 1){
						$.closeArtTip({
							title: '<i class="icon-ok-sign mr10"></i>发送成功！',
							time: 1200
						})
						for(var i = 0; i < sendMsgConfig.length; i++){
							sendMsgConfig[i].element.val('').next('b').removeClass()
						}
					}else{
						$.closeArtTip({
							title: '<i class="icon-exclamation-sign mr10"></i>发送失败！',
							time: 1200
						})
					}
				}
			})
		}
		return false
	})

	function checkAllElementVal(config){
		for(i=0; i<config.length; i++){
			var $element = config[i].element
			if(!$element.next('b').hasClass('icon-ok-sign')){
				$element.focus()
				return false
			}
		}
	}