extends ../layout_index
block append head
	link(rel="stylesheet" href="/css/goods/detail.css")
block content
	.wrap
		.nav
			a(href="/")
				i.fs14.icon-home
			a(href="/store") 商品首页
			b #{goods.title}
		.goods-side-nav
			//- 商品分类
			h2
				i.icon-tags.ml5.mr5
				| 商品分类
			if categories
				each cat in categories
					if cat.pid && cat.pid.length > 0
						dl.goods-side-list
							dt
								i.icon-magnet.ml5.mr5
								| #{cat.attributes.zh_cn}
							each item in cat.pid
								dd
									if item.id == goods.id
										a(href=item._id class="Stand")
											i.icon-angle-right.ml10.mr5
											| #{item.title}
									else
										a(href=item._id)
											i.icon-angle-right.ml10.mr5
											| #{item.title}
		.goods-detail
			.picture.fl.mb10
				div.picture_cover
					img(src='/data/goods/'+goods.id+'/'+goods.cover)
			.panel
				dl
					dd.panel_info
						h1 
							|#{goods.title}
					if goods.description
						dd.panel_info
							p.fs14 #{goods.description} 
					dd.panel_sort
						h6.fs14 商品尺寸：
						a.sort_btn
							span #{formatSize(goods.size)}
					dd.panel_sort
						h6.fs14 商品材质：
						each item in goods.attributes.material
							a.sort_btn.mr5
								span #{item.attributes.zh_cn}
					dt.panel_add_cart
						div
							if goods.sale
								span.panel_price.line_through.fs12.pl10 零售价：
									b #{formatPrice(goods.price)}
								span.panel_price.fs12.pl10.mt10 折扣价：
									b.fs18.cRed #{formatPrice(goods.sale)}
							else
								span.panel_price.fs12.pl10 零售价：
									b.fs18.cRed #{formatPrice(goods.price)}
							a.igoods_add_cart_btn.fr.cp
								i.icon-shopping-cart.mr10
								| 加入询价单
								input(type="hidden" name="p[id]" value=goods.id)
								input(type="hidden" name="p[quantity]" value="1")
							br.clear
			table.sort.table_bordered.table_striped
				tr
					th 商品名称：
					td
						b #{goods.title}
				tr
					th 尺寸规格：
					td #{formatSize(goods.size)}
				if goods.attributes.material && goods.attributes.material.length > 0
					tr
						th 商品材质：
						td 
							each item,index in goods.attributes.material
								span #{(!index? '' :'，')+ item.attributes.zh_cn}
				if goods.attributes.color && goods.attributes.color.length > 0
					tr
						th 主体颜色：
						td 
							each item in goods.attributes.color
								span.mr15 #{item.attributes.zh_cn}
			if goods.content
				.container !{goods.content}
	br.clear
	//- 浏览过的商品
	if find_view_goods && find_view_goods.length > 0
		.view-over-goods.wrap
			h5
				i.icon-magnet.ml5.mr5
				| 浏览过的商品
			#goods-wrap.view-over-goods-wrap
				each item,index in find_view_goods
					include ../../../themplate/goods
	.bg_fixed