extends ../layout

block content
	.container
		.row
			table.table.table-hover.table-bordered
				thead
					tr
						th 图片
						th 标题
						th 描述
						th 更新
						th 删除
				tbody
					if banners && banners.length > 0
						each item in banners
							tr(class="item-id-#{item._id}")
								td 
									img(src="/banner/#{item.imgsrc}")
								td #{item.title}
								td #{item.description}
								td: a(target="_blank", href="/admin/banner/update/#{item._id}") 修改
								td
									button.btn.btn-danger.bannerdel(type="button", data-id="#{item._id}", data-src="#{item.imgsrc}") 删除
					else
						tr
							td.lead.bg-info.text-info(colspan="5")
								strong 
									i.glyphicon.glyphicon-info-sign(style="margin-left:10px;margin-right:5px")
									| 没有任何海报！
				tfood
					td(colspan="10")
						a.btn.btn-primary(href="/admin/banner/new") 新增海报
	script(src="/js/admin.js")