extends ../layout

block content
	.container
		.row
			form.form-horizontal(method="post", action="/admin/banner", enctype="multipart/form-data")
				if banner._id
					input(type="hidden", name="banner[_id]", value=banner._id)
				.form-group
					label.col-sm-2.control-label 海报标题
					.col-sm-10
						input.form-control(type="text", name="banner[title]", value=banner.title)
				.form-group
					label.col-sm-2.control-label 海报描述
					.col-sm-10
						input.form-control(type="text", name="banner[description]", value=banner.description)
				.form-group
					label.col-sm-2.control-label 海报链接
					.col-sm-10
						input.form-control(type="text", name="banner[link]", value=banner.link)
				.form-group
					label.col-sm-2.control-label(for="inputPoster") 海报地址
					.col-sm-10
						input#inputPoster.form-control(type="text", name="banner[imgsrc]", value=banner.imgsrc)
				.form-group
					label.col-sm-2.control-label(for="uploadPoster") 海报上传
					.col-sm-10
						input#uploadPoster(type="file", name="uploadPoster")
				.form-group
					.col-sm-offset-2.col-sm-2
						if banner._id
							button.btn.btn-mg.btn-danger(type="sumbit")
								b.glyphicon.glyphicon-refresh
								&nbsp;&nbsp;更 新
						else
							button.btn.btn-mg.btn-mg.btn-primary(type="sumbit")
								b.glyphicon.glyphicon-save
								&nbsp;&nbsp;录 入