extends ../layout_index

block content
	.wrap
		.nav.mt10
			a(href="/news")
				i.fs14.icon-home
			a(href="/store") store
			a(href="/inquirylist") inquiry list
			b create inquiry list
		div.progress.progress_step_2
			div.progress_step
				span.s_step 1
				p INQUIRY LIST
			div.progress_step
				span.s_step 2
					span.s_1
					span.s_2
				p INQUIRY LIST INFO
			div.progress_step
				span.s_step 3
				p SUCCESS
			div.progress_line
			div.progress_step_line
		form(method="post", action="/create/order", enctype="multipart/form-data").mb50
			input(type="hidden", name="order[uid]", value=user._id)
			dl.create_order_userinfo
				dt.shopcart_head
					i.icon-edit.mr10
					| YOUR INFOMACTION
				dd.pb5
					label.selectType.On
						i.icon-building.mr10
						| 公司
					label.selectType
						i.icon-user.mr10
						| 个人

				dd.animation
					.create_order_userinfo_input
						input(type="text", placeholder="请输入公司名称", name="order.from[company]")
						i.icon-building
				dd
					.create_order_userinfo_input
						input(type="text", placeholder="请输入联系名字", name="order.from[user]")
						i.icon-user
				dd
					.create_order_userinfo_input
						input(type="text", placeholder="请输入联系电话", name="order.from[phone]", maxlength="text")
						i.icon-phone
				dd
					.create_order_userinfo_input
						input(type="text", placeholder="请输入邮箱地址", name="order.from[email]")
						i.icon-envelope
				dd
					textarea.create_order_userinfo_textarea(placeholder="如需备注", name="order.from[description]")
				dd.pb20.tc
					button#createBtn.createBtn.animation(type="sumbit") 确认创建询价单
			table.shopcart_list(style="width:70%;")
				caption.shopcart_head
					i.icon-list.mr10
					| INQUIRY LIST
				thead
					tr
						th(width="140") ITEM
						th.tl DESCRIPTION
						th QUANTITY
							i.icon-edit.ml5
						th(width="150") PRICE
							i.icon-edit.ml5
				tbody
					if products && products.length>0
						each item in products
							tr(id=item.id)
								td
									img(src="/images_data/"+item.id+"/"+item.cover)
								td.shopcart_goods_name.vatop
									ul
										li
											h3 #{item.title}
										li 宽#{item.size.w}×深#{item.size.d}×高#{item.size.h} (cm)
										if item.material && item.material.length > 0
											li 材质： 
												each i_material in item.material
													span.ml5 #{i_material.attributes}
										if item.color && item.color.length > 0
											li 颜色：
												each i_color in item.color
													span.ml5 #{i_color.attributes}
										li 官方售价：￥#{item.price}.00
									input(type="hidden", name="order.products[pid.id]", value=item.id)
								td.tc.vatop
									input.fs14.orderQuantity(onfocus="enterKeyPress(this,'quantity')", onblur="onlyNumber(this,'quantity')", maxlength="11", type="text", value="1 PCS", readonly=true, oncontextmenu="return false", name="order.products[pid.quantity]")
									div.cAaa.fs11.cd.mt5
										i.icon-lightbulb.mr5
										span 点击数量修改
								td.tc.vatop
									input.fs14.orderPrice(onfocus="enterKeyPress(this)", onblur="onlyNumber(this)", maxlength="11", type="text", value="￥#{item.price}.00", readonly=true, oncontextmenu="return false", name="order.products[pid.fromprice]")
									//- b.fs16.cp.orderPrice(onkeyup="enterKeyPress(this)", onblur="onlyNumber(this)")￥#{item.price}.00
									div.cAaa.fs11.cd.mt5
										i.icon-lightbulb.mr5
										span 点击价格修改
			br.clear
	.bg_fixed
	script(src="/js/order.js")