extends ../layout

block content
	.container
		.row
			table.table.table-hover.table-bordered
				thead
					tr
						th 文章标题
						th 文章内容
						th 更新
						th 删除
				tbody
					if news && news.length > 0
						each item in news
							tr(id="item-id-#{item._id}")
								td 
									a(target="_blank", href="/news/#{item._id}") #{item.title}
								td #{item.text}
									if item.img && item.img.length > 0
										ul.news_img_list
											each imgsrc in item.img
												li
													img(src="#{imgsrc}")
									else
										div
											b !!!没有图片!!!
								td
									a.btn.btn-info(target="_blank", href="/admin/news/update/#{item._id}") 修改
								td
									button.btn.btn-danger.newsdel(type="button", data-id="#{item._id}", data-src="#{item.imgsrc}") 删除
					else
						tr
							td.lead.bg-info.text-info(colspan="5")
								strong 
									i.glyphicon.glyphicon-info-sign(style="margin-left:10px;margin-right:5px")
									| 没有任何文章！
				tfood
					td(colspan="10")
						a.btn.btn-primary(href="/admin/news/new") 新增文章
	script(src="/js/admin.js")

