extends ../layout_index

block content
	body.news_index
		.bg_zindex
			.header
				.wrap
					h1 ICOOMTEST
					ul.hmenu
						if newscategories && newscategories.length>0
							each cat in newscategories
								li: a(href="###") #{cat.name}
			.news_list_frame.wrap
				.news_list
					.news_list_info
						span.news_list_tag #{news.newscategoryname}
						| by
						i.icon-user.ml10.mr5
						| #{news.uname} at 
						i.icon-time.ml5.mr5
						span #{moment(news.meta.updateAt).format('YYYY/MM/DD HH:mm:ss')}
					.news_list_info_line
					.news_content
						h2 #{news.title}
						div !{news.content}
			
			.comment.wrap
				//- h6 评论区
				.comment_list
					each item in comments
						li.c_body
							a.c_avatar.commentBtn(href="#commentsForm", data-cid="#{item._id}", data-tid="#{item.from._id}")
								span(csstip-top="回复")
									img(src="http://www.easyicon.net/api/resizeApi.php?id=1132617&size=32")
							div.c_comment
								h5 
									small.fr #{moment(item.meta.createAt).format('YYYY/MM/DD HH:mm:ss')}
									if item.from.name == user.name
										| #{item.from.name}
										small.fs12.cGray &nbsp;&nbsp;(发布者)
									else
										| #{item.from.name}
								p #{item.content}
								if item.reply && item.reply.length > 0
									each reply in item.reply
										.c_body
											img.c_avatar(src="http://www.easyicon.net/api/resizeApi.php?id=1132617&size=32")
											div.c_comment
												h5 
													small.fr #{moment(reply.date).format('YYYY/MM/DD HH:mm:ss')}
													if reply.from.name !== reply.to.name
														| #{reply.from.name}
														small.text-info.icon-share-alt(style="margin:0 10px",title="回复")
														| #{reply.to.name}
													else
														| #{reply.from.name}
												p #{reply.content}
				form#commentsForm.comments(method="POST", action="/user/comment")
					input(type="hidden", name="comment[news]", value="#{news._id}")
					if user
						input(type="hidden", name="comment[from]", value="#{user._id}")
					.form-grounp
						textarea.form-control(name="comment[content]", row="3")
					if user
						button.btn.btn-primary.submitMsn(type="submit") 提交
						//- a.btn.btn-primary.submitMsn(href="javascript:void(0)") 提交

					else
						a.navbar-link(href="#", data-toggle="modal", data-target="#signinModal") 登录后评论
		.bg_fixed
	script(src="/js/detail.js")