extends ../layout_index

block content
	body.news_index
		.bg_zindex
			.header
				.wrap
					h1 ICOOMTEST
					ul.hmenu
						if newscategories && newscategories.length>0
							each cat in newscategories
								li: a(href="###") #{cat.name}
			.news_list_frame.wrap
				.news_list
					.news_list_info
						span.news_list_tag #{news.newscategoryname}
						| by
						i.icon-user.ml10.mr5
						| #{news.uname} at 
						i.icon-time.ml5.mr5
						span #{moment(news.meta.updateAt).format('YYYY/MM/DD HH:mm:ss')}
					.news_list_info_line
					.news_content
						h2 #{news.title}
						div !{news.content}
			//- input(type="hidden",value="#{news.id}",name="newsId")
			//- input(type="hidden",value="#{news.uname}",name="uname")
			//- input(type="hidden",value="#{totalPage}",name="totalpage")
			//- input(type="hidden",value="#{totalcomments}",name="totalcomments")
			input(type="hidden",value="#{news.id}",name="newsId")
			input(type="hidden",value="#{news.uname}", name="uname")
			input(type="hidden", name="toname")
			span(class="hide", name="totalpage") #{totalPage}
			span(class="hide", name="totalcomments") #{totalcomments}


			.comment.wrap
				//- h6 评论区
				ul#comment_list.mt10
					//- each item in comments
					if comments.length > 0
						each item in comments
							li.c_body(replynum="#{item.reply.length}")
								a.c_avatar.commentBtn(href="#commentsForm", data-cid="#{item._id}", data-tid="#{item.from._id}")
									img(src="http://www.easyicon.net/api/resizeApi.php?id=1132617&size=32")
								div.c_comment
									h5 
										small.fr #{moment(item.meta.createAt).format('YYYY/MM/DD HH:mm:ss')}
										span #{item.from.name}
									p !{item.content}
									if item.reply && item.reply.length > 0
										each reply in item.reply
											.c_body
												a.c_avatar.commentBtn(href="#commentsForm", data-cid="#{item._id}", data-tid="#{reply.from._id}", infotype="reply")
													img(src="http://www.easyicon.net/api/resizeApi.php?id=1132617&size=32")
												div.c_comment
													h5 
														small.fr #{moment(reply.date).format('YYYY/MM/DD HH:mm:ss')}
														if reply.from.name !== reply.to.name
															span #{reply.from.name}
															small.ml10 回复：
															span #{reply.to.name}
														else
															span #{reply.from.name}
													p !{reply.content}
					else
						li#comment_list_empty_tip
							i.icon-comments.mr10
							| 当前没有任何的用户评论。
				.page#page.tc.mt10
				script.
				div#commentsForm.mt15
					input(type="hidden", name="comment[news]", value="#{news._id}")
					if user
						.commentsHead
							img(src="http://www.easyicon.net/api/resizeApi.php?id=1132617&size=32")
							span #{user.name} 
							.replyUserInfo.inlineBlock
								small 发表评论：
						input(type="hidden", name="comment[from]", value="#{user._id}")
						.form-grounp
							textarea(name="comment[content]")
						button.button.button-primary.button-longshadow-right.msgSubmitMsn(type="submit") 提交
						//- a.btn.btn-primary.msgSubmitMsn(href="javascript:void(0)") 提交

					else
						//- a.navbar-link(href="#", data-toggle="modal", data-target="#signinModal") 登录后评论
						a.button.button-highlight.button-longshadow-right(href="/signin") 登录后评论
		.bg_fixed
	script(src="/js/detail.js")
	script.