extends ../layout_index

block content
	body
		link(href="/css/product.css",rel="stylesheet")
		.header
			.wrap
				h1
					a(href="/news") ICOOMTEST
				ul.hmenu
					if newscategories && newscategories.length>0
						each cat in newscategories
							li: a(href="###") #{cat.name}
		div.goodsBg(style="background-image:url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1488452404884&di=da83eb05a7747c1e8dcad8532f48dbc1&imgtype=0&src=http%3A%2F%2Fstatic.fuwo.com%2Fupload%2F63767%2Ff91792267a4911e4a73a2798c47715e5%2F1417542807.jpg)")
		each cat in categories
			if cat.products && cat.products.length > 0
				.wrap.goodsHead
					h2 
						span #{cat.name}
					h3 乡村风格主要起源于十八世纪各地拓荒者居住的房子， 具有刻苦创新的开垦精神，色彩及造型较为含蓄保守，以舒适机能为导向，兼具古典的造型与现代的线条、人体工学与装饰艺术的家具风格，充分显现出自然质朴的特性。美式古典乡村风格带着浓浓的乡村气息，
				.wrap.iproduct_list
					div.iproduct
						each item in cat.products
							a(href="/store/"+cat.name+"/"+item.id)
								img(src='/images_data/'+item.id+'/'+item.cover)
								div.ip_bg
								ul.ip_description
									li.ip_title
										|#{item.title}
										if item.material
											|&nbsp;#{item.material}
										else
											|&nbsp;未知材料
										|&nbsp;宽#{item.size.w}×深#{item.size.d}×高#{item.size.h}cm
										if item.colour
											|&nbsp;/ #{item.colour}
										else
											|&nbsp;/ 未知颜色
									li
										if item.sale
											span.ip_tag 特价商品
										if (moment(item.meta.createAt).add('hour',8).fromNow()).indexOf('ago')<0
											span.ip_tag 新品
									li
										if item.sale
											small.ip_price ￥#{item.sale}.00
											small.ip_old_price ￥#{item.price}.00
										else
											small.ip_price ￥#{item.price}.00
		.bg_fixed