extends ../layout_index

block content
	link(href="/css/product.css",rel="stylesheet")
	.wrap
		.nav
			a(href="/news")
				i.fs14.icon-home
			a(href="/store/"+goods) #{goods}
			span #{product.title}
		.side_nav
			h2
				i.icon-tags.ml5.mr5
				| 商品分类
			each cat in categories
				if cat.pid && cat.pid.length > 0
					dl.snCategorylist
						dt
							i.icon-magnet.ml5.mr5
							| #{cat.attributes}
						each item in cat.pid
							dd
								a(href="#{item._id}")
									i.icon-angle-right.ml10.mr5
									| #{item.title}
		.p_picture.fl
			div.p_picture_cover
				img(src='/images_data/'+product.id+'/'+product.cover)
		.p_panel
			dl
				dd.p_panel_info
					h1 
						|#{product.title}
						if product.material && product.material.length > 0
							|&nbsp;#{product.material[0].attributes}
						else
							|&nbsp;未知材料
						if product.color && product.color.length > 0
							|&nbsp;（#{product.color[0].attributes}） 
						else
							|&nbsp;（未知颜色） 
						|&nbsp;宽#{product.size.w}×深#{product.size.d}×高#{product.size.h}cm
				dd.p_panel_info
					p.fs14 布匹部分采用了棉丝光斜纹棉布面料。改良了难以扩展的情况，使用了编织材料。可以尽情感受不同材料的不同舒适度。 
				dd.p_panel_size
					h6.fs14 尺寸选择
					p.fs12  尺寸:长65×宽65×高43cm
					a
						span
							| 宽#{product.size.w}×深#{product.size.d}×高#{product.size.h}cm
				dt.p_panel_add_cart
					div
						span.p_panel_price.fs12.pl10 零售价：
							b.fs18.cRed $#{product.price}.00
						a.iproduct_add_cart_btn.fr.cp
							i.icon-shopping-cart.mr10
							| 加入询价单
							input(type="hidden",name="p[id]",value=product.id)
							input(type="hidden",name="p[quantity]",value="1")
		br.clear
	.bg_fixed
	script(src="/js/shopcart.js")