extends ../layout_index
block append head
	link(rel="stylesheet",href="/css/product.css")
block content
	.wrap
		.nav
			a(href="/")
				i.fs14.icon-home
			a(href="/store") 商品首页
			a(href="/store/sort/#{product.sort.attributes.zh_cn}") #{product.sort.attributes.zh_cn}
			b #{product.title}
		.goods-side-nav
			//- 商品分类
			h2
				i.icon-tags.ml5.mr5
				| 商品分类
			each cat in categories
				if cat.pid && cat.pid.length > 0
					dl.goods-side-list
						dt
							i.icon-magnet.ml5.mr5
							| #{cat.attributes.zh_cn}
						each item in cat.pid
							dd
								if item.id == product.id
									a(href="#{item._id}" class="Stand")
										i.icon-angle-right.ml10.mr5
										| #{item.title}
								else
									a(href="#{item._id}")
										i.icon-angle-right.ml10.mr5
										| #{item.title}

			//- 浏览过的商品
			if find_view_products && find_view_products.length > 0
				.side_nav_view_over.mb15
					h5
						i.icon-magnet.ml5.mr5
						| 浏览过的商品
					each item in find_view_products
						a(href="#{item._id}")
							img(src='/data/products/p'+item.id+'/'+item.cover)
							|#{item.title}
							if item.material && item.material.length > 0
								|&nbsp;#{item.material[0].attributes.zh_cn}
							else
								|&nbsp;未知材料
							if item.color && item.color.length > 0
								| （#{item.color[0].attributes.zh_cn}） 
							else
								|&nbsp;（未知颜色）
		.p_detail
			.p_picture.fl.mb10
				div.p_picture_cover
					img(src='/data/products/p'+product.id+'/'+product.cover)
			.p_panel
				dl
					dd.p_panel_info
						h1 
							|#{product.title}
							if product.material && product.material.length > 0
								|&nbsp;#{product.material[0].attributes.zh_cn}
							else
								|&nbsp;未知材料
							if product.color && product.color.length > 0
								|&nbsp;（#{product.color[0].attributes.zh_cn}） 
							else
								|&nbsp;（未知颜色） 
							|&nbsp;宽#{product.size.w}×深#{product.size.d}×高#{product.size.h}cm
					if product.description
						dd.p_panel_info
							p.fs14 #{product.description} 
					dd.p_panel_sort
						h6.fs14 商品尺寸：
						a.p_sort_btn
							span 宽#{product.size.w} × 深#{product.size.d} × 高#{product.size.h}cm
					dd.p_panel_sort
						h6.fs14 商品材质：
						each item in product.material
							a.p_sort_btn.mr5
								span #{item.attributes.zh_cn}
					dt.p_panel_add_cart
						div
							if product.sale
								span.p_panel_price.line_through.fs12.pl10 零售价：
									b $#{product.price}.00
								span.p_panel_price.fs12.pl10 折扣价：
									b.fs18.cRed $#{product.sale}.00
							else
								span.p_panel_price.fs12.pl10 零售价：
									b.fs18.cRed $#{product.price}.00
							a.iproduct_add_cart_btn.fr.cp
								i.icon-shopping-cart.mr10
								| 加入询价单
								input(type="hidden",name="p[id]",value=product.id)
								input(type="hidden",name="p[quantity]",value="1")
							br.clear
			table.p_detail_sort.table_bordered.table_striped
				tr
					th 商品名称：
					td
						b #{product.title}
				tr
					th 尺寸规格：
					td 宽 #{product.size.w} × 深 #{product.size.d} × 高 #{product.size.h}cm
				if product.material && product.material.length > 0
					tr
						th 商品材质：
						td 
							each item in product.material
								span.mr15 #{item.attributes.zh_cn}
				if product.color && product.color.length > 0
					tr
						th 主体颜色：
						td 
							each item in product.color
								span.mr15 #{item.attributes.zh_cn}
			if product.content
				.p_detail_container !{product.content}
	br.clear
	.bg_fixed
	script(src="/js/shopcart.js")