extends ../layout_index

block content
	body
		link(href="/css/product.css",rel="stylesheet")
		.header
			.wrap
				h1
					a(href="/news") ICOOMTEST
				ul.hmenu
					if newscategories && newscategories.length>0
						each cat in newscategories
							li: a(href="###") #{cat.name}
		each cat in categories
			if cat.products && cat.products.length > 0
				.wrap.iproduct_list
					h3
						a.fr(href="###")
							| 更多
							i.icon-double-angle-right
						i.icon-magnet.mr10
						| #{cat.name}
					div.iproduct
						each item in cat.products
							a(href='product/'+item.id)
								img(src='/images_data/'+item.id+'/'+item.cover)
								div.ip_bg
								ul.ip_description
									li.ip_title
										|#{item.title}
										if item.material
											|&nbsp;#{item.material}
										else
											|&nbsp;未知材料
										|&nbsp;宽#{item.size.w}×深#{item.size.d}×高#{item.size.h}cm
										if item.colour
											|&nbsp;/ #{item.colour}
										else
											|&nbsp;/ 未知颜色
									li
										if item.sale
											span.ip_tag 特价商品
										if (moment(item.meta.createAt).add('hour',8).fromNow()).indexOf('ago')<0
											span.ip_tag 新品
									li
										if item.sale
											small.ip_price ￥#{item.sale}.00
											small.ip_old_price ￥#{item.price}.00
										else
											small.ip_price ￥#{item.price}.00

			
		.bg_fixed