extends ../layout_index
block append head
	link(href="/css/product.css",rel="stylesheet")
block content
	.search-word-tip-wrap.cd
		.search-word-tip.wrap
			span.first-span 商品搜索
			span.search-icon: i.icon-search
			span.second-span
				| 关键字：
				b.base-color-dark " #{keyword} "
			span.second-span
				| 搜索到
				b.base-color-dark  #{products_total} 
				| 件商品
	include ../themplate/fiter_bar.jade
	//- if allCategoryType && allCategoryType.length > 0
	//- 	.sarch_nav
	//- 		each type in allCategoryType
	//- 			if type.cid.length > 0
	//- 				.search-nav-wrap
	//- 					dl.search-nav-type.wrap
	//- 						- var typeName = type.name=='sort'?'类型' : type.name=='scene'?'场景' : type.name=='material'?'材质': '颜色'
	//- 						dt.cd #{typeName} :
	//- 						dd
	//- 							- var all_href = '?q='+keyword
	//- 							- if(url_key){
	//- 							- 	if(url_key.indexOf(type.name) > -1){
	//- 							-		var tmp = '/([&])(' + type.name + '=)([^&]*)/gi'
	//- 							-		all_href += url_key.replace(eval(tmp), '')
	//- 							- 	}else{
	//- 							-		all_href += url_key
	//- 							- 	}
	//- 							- }
	//- 							a( href=all_href ) 全部
	//- 							each cid in type.cid
	//- 								- var a_url_public = '?q='+keyword
	//- 								- if( url_key ){
	//- 								- 	if( url_key.indexOf(type.name) > -1 ){
	//- 								-		var replaceText = type.name + '=' + cid.id
	//- 								-		var tmp = '/(' + type.name + '=)([^&]*)/gi'
	//- 								-		var replaceUrl = url_key.replace(eval(tmp), replaceText)
	//- 								-		var ahref = a_url_public + replaceUrl
	//- 								- 	} else {
	//- 								-		var ahref = a_url_public + url_key + '&' + type.name + '=' + cid.id
	//- 								- 	}
	//- 								- }else{
	//- 								-	var ahref = a_url_public + '&' + type.name + '=' + cid.id
	//- 								- }
	//- 								- if(url_key.indexOf(cid.id) > -1)
	//- 									a.cd.On(href=ahref) #{cid.attributes.zh_cn}
	//- 								- else
	//- 									a(href=ahref) #{cid.attributes.zh_cn}									

	.wrap.iproduct_list
		.category_list
		.sub-product-frame-row4
			if products && products.length > 0
				each item in products
					.sub-page-product(id=item.id)
						include ../themplate/product.jade
			else
				.search-empty-tip.bg-slash.bg-gray
					p 
						i.icon-exclamation-sign.mr10
						|没有找到相关的商品 :(
		
		.page.mt15.mb30
			- url_public = url_pathname+'?q='+keyword+url_key+'&'
			include ../themplate/page.jade
	script(src="/js/shopcart.js")