extends ../layout_index

block content
		link(href="/css/product.css",rel="stylesheet")
		if attributes && attributes.length > 0
			.wrap.sarch_nav
				for attribute in attributes
					dl.sarch_nav_type
						dt #{attribute.cnname}：
						dd
							- console.log('sort id is' + sort)
							- console.log('scene id is' + scene)
							- console.log('material id is' + material)
							- console.log('color id is' + color)
							a(href="results?q="+searchword) 全部
							if attribute.attributes && attribute.attributes.length > 0
								for item in attribute.attributes
									if sort == item.id || scene == item.id || material == item.id || color == item.id
										a.On(href="results?q="+searchword+"&"+attribute.name+"="+item.id) #{item.attributes}
									else
										if sort && scene && material && color
											a(href="results?q="+searchword+"&sort="+sort+"&scene="+scene+"&material="+material+"&color="+color) #{item.attributes}
										else if sort && scene && material
											a(href="results?q="+searchword+"&sort="+sort+"&scene="+scene+"&material="+material+"&"+attribute.name+"="+item.id) #{item.attributes}
										else if sort && scene
											- console.log('------')
											- console.log('------')
											- console.log('------')
											- console.log('------')
											- console.log('------')
											a(href="results?q="+searchword+"&sort="+sort+"&scene="+scene+"&"+attribute.name+"="+item.id) #{item.attributes}
										else if sort
											a(href="results?q="+searchword+"&sort="+sort+"&"+attribute.name+"="+item.id) #{item.attributes}
										else
											a(href="results?q="+searchword+"&"+attribute.name+"="+item.id) #{item.attributes}

		.search_word_tip.wrap.mt10
			i.icon-quote-left.mr10.ml10
			| !{keyword}
		.wrap.iproduct_list
			.category_list
			.iproduct_frame
				if products && products.length > 0
					each item in products
						.iproduct(id=item.id)
							img(src='/images_data/'+item.id+'/'+item.cover)
							.ip_bg
							ul.ip_description
								li
									a(href="/store/"+item.sort.name+"/"+item.id).ip_title
										|#{item.title}
										if item.material
											|&nbsp;#{item.material}
										else
											|&nbsp;未知材料
										|&nbsp;宽#{item.size.w}×深#{item.size.d}×高#{item.size.h}cm
										if item.colour
											|&nbsp;/ #{item.colour}
										else
											|&nbsp;/ 未知颜色
								li
									if item.sale
										span.ip_tag 特价商品
									if (moment(item.meta.createAt).add('hour',8).fromNow()).indexOf('ago')<0
										span.ip_tag 新品
								li
									span.iproduct_add_cart_btn.cp
										i.icon-shopping-cart
										input(type="hidden",name="p[id]",value=item.id)
										input(type="hidden",name="p[quantity]",value="1")
									if item.sale
										small.ip_price ￥#{item.sale}.00
										small.ip_old_price ￥#{item.price}.00
									else
										small.ip_price ￥#{item.price}.00
				else
					.col-md-2 没有任何电影数据！
			
			.page(style="margin-top:15px;margin-bottom:30px;")
				- if(totalPage>1){
					- if(currentPage-1 == 0){
							span.page_unclick: i.icon-double-angle-left
							span.page_unclick: i.icon-angle-left
					-	}else{
							a(href='/results?#{query}&p=0',csstip-top='第一页'): i.icon-double-angle-left
							a(href='/results?#{query}&p=#{currentPage-1}',csstip-top='上一页'): i.icon-angle-left
					-	}
					-	for(var i=0;i<totalPage; i++){
						-	if(currentPage == (i+1)){
								span.page_stand #{currentPage}
						-	}else{
								a(href='/results?#{query}&p=#{i}') #{i+1}
						-	}
					-	}
					- if(currentPage < totalPage){
							a(href='/results?#{query}&p=#{currentPage}',csstip-top='下一页'): i.icon-angle-right
							a(href='/results?#{query}&p=#{totalPage-1}',csstip-top='最后一页'): i.icon-double-angle-right
					-	}else{
							span.page_unclick: i.icon-angle-right
							span.page_unclick: i.icon-double-angle-right
					-	}
				- }