extends ../layout_index

block content
		link(href="/css/product.css",rel="stylesheet")
		if attributes && attributes.length > 0
			.wrap.sarch_nav
				for attribute in attributes
					dl.sarch_nav_type
						dt #{attribute.cnname}：
						dd
							- var serchWord = "results?q="+searchword
							- if(attribute.name.toString() === 'sort'){
							-	if(scene && material && color){
							-		var allAttribute = serchWord+"&scene="+scene+"&material="+material+"&color="+color
							-	}else if(scene && material){
							-		var allAttribute = serchWord+"&scene="+scene+"&material="+material
							-	}else if(scene && color){
							-		var allAttribute = serchWord+"&scene="+scene+"&color="+color
							-	}else if(material && color){
							-		var allAttribute = serchWord+"&material="+material+"&color="+color
							-	}else if(scene){
							-		var allAttribute = serchWord+"&scene="+scene
							-	}else if(material){
							-		var allAttribute = serchWord+"&material="+material
							-	}else if(color){
							-		var allAttribute = serchWord+"&color="+color
							-	}else{
							-		var allAttribute = serchWord
							-	}
							- }else if(attribute.name.toString() === 'scene'){
							-	if(sort && material && color){
							-		var allAttribute = serchWord+"&sort="+sort+"&material="+material+"&color="+color
							-	}else if(sort && material){
							-		var allAttribute = serchWord+"&sort="+sort+"&material="+material
							-	}else if(sort && color){
							-		var allAttribute = serchWord+"&sort="+sort+"&color="+color
							-	}else if(material && color){
							-		var allAttribute = serchWord+"&material="+material+"&color="+color
							-	}else if(sort){
							-		var allAttribute = serchWord+"&sort="+sort
							-	}else if(material){
							-		var allAttribute = serchWord+"&material="+material
							-	}else if(color){
							-		var allAttribute = serchWord+"&color="+color
							-	}else{
							-		var allAttribute = serchWord
							-	}
							- }else if(attribute.name.toString() === 'material'){
							-	if(sort && scene && color){
							-		var allAttribute = serchWord+"&sort="+sort+"&scene="+scene+"&color="+color
							-	}else if(sort && scene){
							-		var allAttribute = serchWord+"&sort="+sort+"&scene="+scene
							-	}else if(sort && color){
							-		var allAttribute = serchWord+"&sort="+sort+"&color="+color
							-	}else if(scene && color){
							-		var allAttribute = serchWord+"&scene="+scene+"&color="+color
							-	}else if(sort){
							-		var allAttribute = serchWord+"&sort="+sort
							-	}else if(scene){
							-		var allAttribute = serchWord+"&scene="+scene
							-	}else if(color){
							-		var allAttribute = serchWord+"&color="+color
							-	}else{
							-		var allAttribute = serchWord
							-	}
							- }else if(attribute.name.toString() === 'color'){
							-	if(sort && scene && material){
							-		var allAttribute = serchWord+"&sort="+sort+"&scene="+scene+"&material="+material
							-	}else if(sort && scene){
							-		var allAttribute = serchWord+"&sort="+sort+"&scene="+scene
							-	}else if(sort && material){
							-		var allAttribute = serchWord+"&sort="+sort+"&material="+material
							-	}else if(scene && material){
							-		var allAttribute = serchWord+"&scene="+scene+"&material="+material
							-	}else if(sort){
							-		var allAttribute = serchWord+"&sort="+sort
							-	}else if(scene){
							-		var allAttribute = serchWord+"&scene="+scene
							-	}else if(material){
							-		var allAttribute = serchWord+"&material="+material
							-	}else{
							-		var allAttribute = serchWord
							-	}
							- }
							a(href=allAttribute) 全部
							if attribute.attributes && attribute.attributes.length > 0
								for item in attribute.attributes
									- if(attribute.name.toString() === 'sort'){
									-	if(scene && material && color){
									-		var ahref = serchWord+"&sort="+item.id+"&scene="+scene+"&material="+material+"&color="+color
									-	}else if(scene && material){
									-		var ahref = serchWord+"&sort="+item.id+"&scene="+scene+"&material="+material
									-	}else if(scene && color){
									-		var ahref = serchWord+"&sort="+item.id+"&scene="+scene+"&color="+color
									-	}else if(material && color){
									-		var ahref = serchWord+"&sort="+item.id+"&material="+material+"&color="+color
									-	}else if(scene){
									-		var ahref = serchWord+"&sort="+item.id+"&scene="+scene
									-	}else if(material){
									-		var ahref = serchWord+"&sort="+item.id+"&material="+material
									-	}else if(color){
									-		var ahref = serchWord+"&sort="+item.id+"&color="+color
									-	}else{
									-		var ahref = serchWord+"&sort="+item.id
									-	}
									- }else if(attribute.name.toString() === 'scene'){
									-	if(sort && material && color){
									-		var ahref = serchWord+"&sort="+sort+"&scene="+item.id+"&material="+material+"&color="+color
									-	}else if(sort && material){
									-		var ahref = serchWord+"&sort="+sort+"&scene="+item.id+"&material="+material
									-	}else if(sort && color){
									-		var ahref = serchWord+"&sort="+sort+"&scene="+item.id+"&color="+color
									-	}else if(material && color){
									-		var ahref = serchWord+"&scene="+item.id+"&material="+material+"&color="+color
									-	}else if(sort){
									-		var ahref = serchWord+"&sort="+sort+"&scene="+item.id
									-	}else if(material){
									-		var ahref = serchWord+"&scene="+item.id+"&material="+material
									-	}else if(color){
									-		var ahref = serchWord+"&scene="+item.id+"&color="+color
									-	}else{
									-		var ahref = serchWord+"&scene="+item.id
									-	}
									- }else if(attribute.name.toString() === 'material'){
									-	if(sort && scene && color){
									-		var ahref = serchWord+"&sort="+sort+"&scene="+scene+"&material="+item.id+"&color="+color
									-	}else if(sort && scene){
									-		var ahref = serchWord+"&sort="+sort+"&scene="+scene+"&material="+item.id
									-	}else if(sort && color){
									-		var ahref = serchWord+"&sort="+sort+"&color="+color+"&material="+item.id
									-	}else if(scene && color){
									-		var ahref = serchWord+"&scene="+scene+"&color="+color+"&material="+item.id
									-	}else if(sort){
									-		var ahref = serchWord+"&sort="+sort+"&material="+item.id
									-	}else if(scene){
									-		var ahref = serchWord+"&scene="+scene+"&material="+item.id
									-	}else if(color){
									-		var ahref = serchWord+"&material="+item.id+"&color="+color
									-	}else{
									-		var ahref = serchWord+"&material="+item.id
									-	}
									- }else if(attribute.name.toString() === 'color'){
									-	if(sort && scene && material){
									-		var ahref = serchWord+"&sort="+sort+"&scene="+scene+"&material="+material+"&color="+item.id
									-	}else if(sort && scene){
									-		var ahref = serchWord+"&sort="+sort+"&scene="+scene+"&color="+item.id
									-	}else if(sort && material){
									-		var ahref = serchWord+"&sort="+sort+"&material="+material+"&color="+item.id
									-	}else if(scene && material){
									-		var ahref = serchWord+"&scene="+scene+"&material="+material+"&color="+item.id
									-	}else if(sort){
									-		var ahref = serchWord+"&sort="+sort+"&color="+item.id
									-	}else if(scene){
									-		var ahref = serchWord+"&scene="+scene+"&color="+item.id
									-	}else if(material){
									-		var ahref = serchWord+"&material="+material+"&color="+item.id
									-	}else{
									-		var ahref = serchWord+"&color="+item.id
									-	}
									- }
									
									if sort == item.id || scene == item.id || material == item.id || color == item.id
										a.On(href=ahref) #{item.attributes}
									else
										a(href=ahref) #{item.attributes}

		.search_word_tip.wrap.mt10
			i.icon-search.mr10.ml10
			| !{keyword}
		.wrap.iproduct_list
			.category_list
			.iproduct_frame
				if products && products.length > 0
					each item in products
						.iproduct(id=item.id)
							img(src='/images_data/'+item.id+'/'+item.cover)
							.ip_bg
							ul.ip_description
								li
									a(href="/store/"+item.sort.name+"/"+item.id).ip_title
										|#{item.title}
										if item.material && item.material.length > 0
											|&nbsp;#{item.material[0].attributes}
										else
											|&nbsp;未知材料
										|&nbsp;宽#{item.size.w}×深#{item.size.d}×高#{item.size.h}cm
										if item.color && item.color.length > 0
											|&nbsp;/ #{item.color[0].attributes}
										else
											|&nbsp;/ 未知颜色
								li
									if item.sale
										span.ip_tag 特价商品
									if (moment(item.meta.createAt).add('hour',8).fromNow()).indexOf('ago')<0
										span.ip_tag 新品
								li
									span.iproduct_add_cart_btn.cp
										i.icon-shopping-cart
										input(type="hidden",name="p[id]",value=item.id)
										input(type="hidden",name="p[quantity]",value="1")
									if item.sale
										small.ip_price ￥#{item.sale}.00
										small.ip_old_price ￥#{item.price}.00
									else
										small.ip_price ￥#{item.price}.00
				else
					.col-md-2 没有任何数据！
			
			.page(style="margin-top:15px;margin-bottom:30px;")
				- if(totalPage>1){
					- if(currentPage-1 == 0){
							span.page_unclick: i.icon-double-angle-left
							span.page_unclick: i.icon-angle-left
					-	}else{
							a(href=url+'&p=0',csstip-top='第一页'): i.icon-double-angle-left
							a(href=url+'&p=#{currentPage-1}',csstip-top='上一页'): i.icon-angle-left
					-	}
					-	for(var i=0;i<totalPage; i++){
						-	if(currentPage == (i+1)){
								span.page_stand #{currentPage}
						-	}else{
								a(href=url+'&p=#{i}') #{i+1}
						-	}
					-	}
					- if(currentPage < totalPage){
							a(href=url+'&p=#{currentPage}',csstip-top='下一页'): i.icon-angle-right
							a(href=url+'&p=#{totalPage-1}',csstip-top='最后一页'): i.icon-double-angle-right
					-	}else{
							span.page_unclick: i.icon-angle-right
							span.page_unclick: i.icon-double-angle-right
					-	}
				- }