extends ../layout_index

block content
	.wrap
		div.progress.progress_step_1
			div.progress_step
				span 1
				p SHAPPING CART
			div.progress_step
				span 2
				p YOUR EMAIL
			div.progress_step
				span 3
				p SUCCESS
			div.progress_line
			div.progress_step_line
		table.shopcart_list
			caption
				i.icon-shopping-cart.mr10
				| SHAPPING CART
			tr
				th(width="140px") ITEM
				th.tl DESCRIPTION
				th PRICE
				th QUANTITY
			if product && product.length>0
				each item in product
					tr
						td
							img(src="/images_data/"+item.id+"/"+item.cover)
						td.shopcart_goods_name
							ul
								li
									h3 #{item.title}
									li MATERIAL: #{item.material}
									li COLOR: #{item.colour}
									li SIZE: 宽#{item.size.w}×深#{item.size.d}×高#{item.size.h}cm
									li
										span.removeBtn
											i.icon-remove
											| REMOVE
						td.tc
							b.fs16 $#{item.price}.00
						td.tc null
			tr
				td(colspan="4")
					a.button.button-royal.button-primary 创建询价单
	.bg_fixed