extends ../layout_index

block content
	.wrap
		.nav.mt10
			a(href="/news")
				i.fs14.icon-home
			a(href="/store") 商城首页
			b 询价单列表
		div.progress.progress_step_1
			div.progress_step
				span.s_step 1
					span.s_1
					span.s_2
				p 询价单列表
			div.progress_step
				span.s_step 2
				p 填写信息
			div.progress_step
				span.s_step 3
				p 发送完成
			div.progress_line
			div.progress_step_line
		form(method="post", action="/create/inquirylist", enctype="multipart/form-data")
			table.shopcart_list.mb50
				caption.shopcart_head
					i.icon-list.mr10
					| 询价单列表
				thead
					tr
						if user
							th(width="35")
						th(width="140") 商品图片
						th.tl 描述
						th 尺寸
						th 单价
						th(width="70") 数量
				tbody
					if products && products.length>0
						each item in products
							tr(id=item.pid.id)
								if user
									td.tc.pr
										input.selectProduct.pa(name="order[pid]", type="checkbox", value=item.pid.id)
										span.icon-check-empty.cGray.fs18
										span.icon-check.none.fs18
								td
									a(target="_bank", href="/store/id/"+item.pid.id)
										img(src="/data/products/p"+item.pid.id+"/"+item.pid.cover)
								td.shopcart_goods_name.vatop
									ul
										li
											h3
												a(target="_bank", href="/store/id/"+item.pid.id) #{item.pid.title}
										//- if item.pid.scene && item.pid.scene.length > 0
											li 场景： 
												each i_scene in item.pid.scene
													span.ml5 #{i_scene.attributes.zh_cn}
										if item.pid.material && item.pid.material.length > 0
											li 材质： 
												each i_material in item.pid.material
													span.ml5 #{i_material.attributes.zh_cn}
										if item.pid.color && item.pid.color.length > 0
											li 颜色：
												each i_color in item.pid.color
													span.ml5 #{i_color.attributes.zh_cn}
										li
											span.removeBtn.shopcart_goods_remove(data-id="#{item.pid.id}")
												i.icon-remove
												| REMOVE
								td.tc.vatop 宽#{item.pid.size.w}×深#{item.pid.size.d}×高#{item.pid.size.h} (cm)
								td.tc.vatop
									b.fs16 $#{item.pid.price}.00
								td.tc.vatop #{item.quantity}
						tr
							if user
								td
								td(colspan="5")
									button#createOrderBtn.button.button-glow.button-primary.button-rounded.button-raised.button-primary(type="sumbit") 创建询价单
							else
								td(colspan="5")
									span.button.button-glow.button-primary.button-rounded.button-raised.button-primary(data-toggle="modal", data-target="#signinModal") 创建询价单
									span.gray.ml20.fs12 你尚未登录，请
									span.base-color-dark.fs12.cp(data-toggle="modal", data-target="#signinModal") 登录
					else
						tr
							td.tc(colspan="6")
								div.pb20
									p.fb.pt20.pb10 购物车没有任何商品，请前往商品中心添加。
									a(href="/store").button.button-royal.button-primary 商品中心

	.bg_fixed
	script(src="/js/shopcart.js")
	if user
		script.
			$('#createOrderBtn').click(function(){
				if(!CheckboxIsChecked()){
					$.artTip('<i class="icon-exclamation-sign mr5"></i>请选择商品 !', 1000)
					return false
				}
			})
			function CheckboxIsChecked(){
				var isCheacked = false
				$('input.selectProduct').each(function(i){
					if($(this).is(':checked')){
						isCheacked = true
						return
					}
				})
				return isCheacked
			}