extends ../layout_index

block content
	.sign_bg.blur(style="background-image:url(images/background/#{bgsrc})")
	.sign_form
		.sign_form_head &nbsp;
			i.icon-lock
			span #{title}
		ul.sign_form_content
			li
				label(for="signName")
					i.icon-user
				if name
					input#signName.signName.form_control(name="user[name]", type="text", value="#{name}", placeholder="请输入用户名")
					if !password
						.sign_tip.inlineBlock
							i.icon-info-sign
							|&nbsp;&nbsp;用户名 “&nbsp;
							strong #{name}
							|&nbsp;” 已经存在了
				else
					input#signName.signName.form_control(name="user[name]", type="text", placeholder="请输入用户名")
			li
				label(for="signPassword")
					i.icon-key 
				input#signPassword.signPassword.form_control(type="password", placeholder="请输入密码")
			li
				label(for="captcha")
					i.icon-lock
				input#captcha.captcha.form_control.fl(type="text", placeholder="请输入验证码",maxlength="4",style="width:30%")
				span.cp.changeCaptcha.inlineBlock.ml10 !{captcha.data}
			li.sign_tip
				i.icon-question-sign
				| &nbsp;还没有注册会员？
				a.cBlue.textUnderline(href="signup") 点击注册
			
		.sign_form_foot
			span.button.button-raised.button-primary.sign-success(signtype="signin") 登 录
			.sign_form_foot_info
				h6 ITEST
				p 基于NodeJs+MongoDB搭建的电影网站 <br /> 备案编号:110105000501 Copyright © 2006-2017
	h3.bgword
		i.icon-quote-left.icon-3x.pull-left
		| #{bgword}

	script(src="js/sign.js")

