extends ../layout_index

block content
	.wrap.nav
		a(href="/news")
			i.fs14.icon-home
		b dfsfsdf
	.user_frame.wrap
		.user_info
			img(src="#{user.avatar}")
			h3.mt5 #{user.name}
			.user_role.mt15
				span
					if user.role > 50
						| 超级管理员
					else
						| 注册会员
			.user_role.mt15
				span 注册时间：#{moment(user.meta.createAt).format('YYYY/MM/DD')}
		.user_action
			ul.user_details
				li 
					lable.fb 注册时间：
					input.inputStyle(value="#{moment(user.meta.createAt).format('YYYY/MM/DD HH:mm:ss')}")
				li 
					lable.fb 地址邮箱：
					input.inputStyle(value="#{user.emaill}")
				li.user_edit
					span.icon-edit(title="编辑个人信息")
				
	.bg_fixed