extends ../layout_index
block append head
	link(rel="stylesheet",href="/css/user.css")
block content
	.wrap.nav
		a(href="/news")
			i.fs14.icon-home
		b 我的个人中心
	.user_frame.wrap
		.user_info
			img(src="/images/#{user.avatar}")
			h3.base-color-dark.mt5 #{user.name}
			.user_role.mt15
				span
					if user.role > 50
						| 超级管理员
					else
						| 注册会员
				a.user_setting_btn.animation(href="/user/#{user.name}/setting")
					i.icon-cog
			.user_role.mt15
				span 注册时间：#{moment(user.meta.createAt).format('YYYY / MM / DD')}
		.user_details
			h4.mb15.cd.base-color-dark
				i.icon-comments-alt.mr5.ml5
				if moment().format('a') === 'am'
					| 早上好！
				else
					| 下午好！
				| #{user.name}
				span.ml5.mr5 欢迎登录
				| VITEHOME
			if orders && orders.length > 0
				.user_details_head
					if orders.length >= 5
						a.fr.fn.fs12.cGray(href="/user/#{user.name}/orders") 更多 
							i.fs14.icon-double-angle-right
					i.icon-list.mr10
					a.base-color-dark(href="/user/#{user.name}/orders") 我的订单
				table.table_striped.table_bordered
					tr
						th 订单号
						th 创建时间
						th 是否回复
						th 操作
					each item in orders
						tr.tc
							td: a(href="/user/#{user.name}/orders/#{item._id}") #{item._id}
							td #{moment(item.meta.createAt).format('YYYY/MM/DD')}
							td
							td: a(href="/user/#{user.name}/orders/#{item._id}").button.button-primary.button-tiny 查看
			else
				.user_details_empty_tip.tc
					p.mb15.fs16.fb 目前没有创建任何询价单
					a.postPasswordBtn.button.button-primary.button-rounded(href="/store")
						i.icon-magnet.mr10
						| 浏览商城
	.bg_fixed