extends ../../layout_admin

block content
	.admin_wrap
		h2.pageheader
			i.icon-tags
			| #{title}
		.contentpanel
			if categories_type == 'product'
				.admin_sarch_nav
					- var categories_array = ['scene','sort','material','color']
					each catname in categories_array
						- if(catname==='sort'){
						-	var category = categories_sort
						-	var catname_cn = '类型'
						- }else if(catname === 'scene'){
						-	var category = categories_scene
						-	var catname_cn = '场景'
						- }else if(catname === 'material'){
						-	var category = categories_material
						-	var catname_cn = '材质'
						- }else if(catname === 'color'){
						-	var category = categories_color
						-	var catname_cn = '颜色'
						-}
						dl.admin_sarch_nav_type
							dt #{catname_cn} :
							dd
								each item in category
									ul(class="item-id-"+item.id)
										li.fb.fs14
											span.catName
												b.attributes_zh_cn #{item.attributes.zh_cn}
												|, 
												b.attributes_en_us #{item.attributes.en_us}
											span &nbsp; ( #{item.pid.length} )
										li
											span.catChange.button.button-highlight.button-small(data-toggle="modal", data-target="#catChangeModal", data-id="#{item._id}", data-name="#{item.name}") 修改
											if item.pid.length === 0
												span.categorydel.button.button-caution.button-small(data-type="productCategory", data-id="#{item.id}") 删除
											else
												span.disabled.button.button-caution.button-small 删除
										li.cGray(style="font-size:0.85em")
											i.icon-time.mr5
											| 录入时间：
											| #{moment(item.meta.createAt).format('YYYY - MM - DD HH:mm:ss')}
								div.clear
									span.addType.button.button-primary.button-small(data-toggle="modal", data-target="#catModal", data-type="#{categories_type}", data-name="#{catname}") 
										i.icon-plus.mr5
										| 新增#{catname_cn}
									if catname !== "color"
										a.button.button-royal.button-small.ml10(href="/admin/goods/"+catname+"/banner/list")
											i.icon-cog.mr5
											| 设置背景图片
			else
				table.table.table_hover.table_bordered.table_striped
					thead
						tr
							th 分类名称
							th 录入时间
							th 查看
							th 更新
							th 删除
					tbody.tc
						if categories && categories.length > 0
							each item in categories
								tr(class="item-id-#{item._id}")
									td 
										a(href='/results?cat=#{item._id}&p=0',target="_blank").btn.btn-info
											span.catName #{item.name}
											b &nbsp;( #{len} )
									td #{moment(item.meta.updateAt).format('YYYY/MM/DD HH:mm:ss')}
									td
										a.button.button-primary.button-rounded.button-small(href='/results?cat=#{item._id}&p=0',target="_blank") 查看
									td
										span.button.button-highlight.button-rounded.button-small.catChange(data-toggle="modal", data-target="#catChangeModal", value="#{item._id}") 修改
									td
										if len == 0
											button.button.button-caution.button-rounded.button-small.categorydel(type="button", data-id="#{item._id}") 删除
										else
											span.button.disabled.button-caution.button-rounded.button-small 删除
						else
							tr
								td.lead.bg-info.text-info(colspan="5")
									strong 
										i.glyphicon.glyphicon-info-sign(style="margin-left:10px;margin-right:5px")
										| #{title}为空！
					tfood
						td(colspan="10")
							//- a.button.button-raised.button-primary(href="/admin/products/category/new") 新增分类
							span.button.button-raised.button-primary(data-toggle="modal", data-target="#catModal", value="#{categories_type}") 新增场景
	#catModal.imodal
		form(method="post", action="/admin/category/save")
			input(type="hidden", name="category[type]", value="#{categories_type}")
			input(type="hidden", name="category[name]", class="categoryname")
			.imodal-header#imodal-header-title 新增分类
			.imodal-body
				.form_group
					label.control_label(for="inputCategory_zh_cn", style="width:12%;") 简体中文：
					.control_div(style="width:85%;")
						input#inputCategory_zh_cn.form_control(type="text", name="category[attributes][zh_cn]", placeholder="请输入属性的简体中文名称")
				.form_group
					label.control_label(for="inputCategory_en_us", style="width:12%;") 英&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;文：
					.control_div(style="width:85%;")
						input#inputCategory_en_us.form_control(type="text", name="category[attributes][en_us]", placeholder="Please enter the English name of the attribute")
			.imodal-footer
				.form_group(style="margin:0")
					label.control_label
					button.categoryBtn.button.button-raised.button-primary.button-small(type="sumbit") 录入
					span.button.button-raised.button-small.modal_close(style="margin-left:15px;") 取消
	#catChangeModal.imodal
		form(method="post", action="/admin/category/save")
			input(type="hidden", name="category[type]", value="#{categories_type}")
			input(type="hidden", name="category[name]", class="cateChangeGoryname")
			input#categoryid(type="hidden", name="category[_id]")
			.imodal-header 分类名称修改
			.imodal-body
				.form_group
					label.control_label(for="changeCategory_zh_cn", style="width:12%;") 简体中文：
					.control_div(style="width:85%;")
						input#changeCategory_zh_cn.form_control(type="text", name="category[attributes][zh_cn]")
				.form_group
					label.control_label(for="changeCategory_en_us", style="width:12%;") 英&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;文：
					.control_div(style="width:85%;")
						input#changeCategory_en_us.form_control(type="text", name="category[attributes][en_us]")
			.imodal-footer
				.form_group(style="margin:0")
					label.control_label
					button.catChangeBtn.button.button-raised.button-primary.button-small(type="sumbit") 修改
					span.button.button-raised.button-small.modal_close(style="margin-left:15px;") 取消
	script(src="/js/admin_delete.js")
	script(src="/js/artalert.js")
	script.
		//- 分类删除
		del('categorydel','category');

		
		var catId;
		//- 修改属性
		$('.catChange').click(function(){
			var $t = $(this),
				$tr = $t.parent().parent();
			$('#changeCategory_zh_cn').val($tr.find('.attributes_zh_cn').html())
			$('#changeCategory_en_us').val($tr.find('.attributes_en_us').html())
			catId = $t.attr('data-id');
			$('#categoryid').val(catId);
			var dataname = $(this).attr('data-name')
			$('.cateChangeGoryname').val(dataname)
		});
		$('.catChangeBtn').click(function(){
			arttip('正在修改中...')
		});
		//- 添加属性
		$('.addType').click(function(){
			var dataname = $(this).attr('data-name')
			var dataTypeName = $(this).html()
			$('#imodal-header-title').html(dataTypeName)
			$('.categoryname').val(dataname)
		})

		$('.categoryBtn').click(function(){
			if($('#inputCategory_zh_cn').val().replace(/\s/g, "")=="" || $('#inputCategory_en_us').val().replace(/\s/g, "")==""){
				artalert('分类名称不能为空！')
				return false;
			}
			arttip('正在添加中...')
		});
