extends ../../layout_admin

block content
	.admin_wrap
		h2.pageheader
			i.icon-tags
			| #{title}
		.contentpanel
			if categories_type == 'product'
				.admin_sarch_nav
					- var categories_array = ['sort','scene','material','color']
					each catname in categories_array
						- if(catname==='sort'){
						-	var category = categories_sort
						-	var catname_cn = '类型'
						- }else if(catname === 'scene'){
						-	var category = categories_scene
						-	var catname_cn = '场景'
						- }else if(catname === 'material'){
						-	var category = categories_material
						-	var catname_cn = '材质'
						- }else if(catname === 'color'){
						-	var category = categories_color
						-	var catname_cn = '颜色'
						-}
						dl.admin_sarch_nav_type
							dt #{catname} :
							dd
								each item in category
									ul(class="item-id-"+item.id)
										li.fb.fs14
											span.catName #{item.attributes}
											span &nbsp; ( #{item.pid.length} )
										li
											span.catChange.button.button-highlight.button-small(data-toggle="modal", data-target="#catChangeModal", value="#{item._id}", data-name="#{item.name}") 修改
											if item.pid.length === 0
												span.categorydel.button.button-caution.button-small(data-type="productCategory", data-id="#{item.id}") 删除
											else
												span.disabled.button.button-caution.button-small 删除
										li.cGray
											i.icon-time.mr5
											| #{moment(item.meta.createAt).format('YYYY / MM / DD HH:mm:ss')}
								div.clear
									span.addType.button.button-primary.button-small(data-toggle="modal", data-target="#catModal", data-type="#{categories_type}", data-name="#{catname}") 
										i.icon-plus &nbsp;
										| 新增
					//- dl.admin_sarch_nav_type
					//- 	dt scene ：
					//- 	dd
					//- 		each item in categories_scene
					//- 			ul(class="item-id-"+item.id)
					//- 				li.fb.fs14
					//- 					span.catName #{item.attributes}
					//- 					span &nbsp; ( #{item.pid.length} )
					//- 				li
					//- 					span.catChange.button.button-highlight.button-small(data-toggle="modal", data-target="#catChangeModal", value="#{item._id}", data-name="#{item.name}") 修改
					//- 					if item.pid.length === 0
					//- 						span.categorydel.button.button-caution.button-small(data-type="product", data-id="#{item.id}") 删除
					//- 					else
					//- 						span.disabled.button.button-caution.button-small 删除
					//- 				li.cGray
					//- 					i.icon-time.mr5
					//- 					| #{moment(item.meta.createAt).format('YYYY / MM / DD HH:mm:ss')}
					//- 		if categories_scene.length > 0
					//- 			br.clear
					//- 		span.addType.button.button-primary.button-small(data-toggle="modal", data-target="#catModal", data-type="#{categories_type}", data-name="scene") 
					//- 			i.icon-plus &nbsp;
					//- 			| 新增
					//- dl.admin_sarch_nav_type
					//- 	dt 材质 ：
					//- 	dd
					//- 		each item in categories_material
					//- 			ul(class="item-id-"+item.id)
					//- 				li.fb.fs14
					//- 					span.catName #{item.attributes}
					//- 					span &nbsp; ( #{item.pid.length} )
					//- 				li
					//- 					span.catChange.button.button-highlight.button-small(data-toggle="modal", data-target="#catChangeModal", value="#{item._id}", data-name="#{item.name}") 修改
					//- 					if item.pid.length === 0
					//- 						span.categorydel.button.button-caution.button-small(data-type="product", data-id="#{item.id}") 删除
					//- 					else
					//- 						span.disabled.button.button-caution.button-small 删除
					//- 				li.cGray
					//- 					i.icon-time.mr5
					//- 					| #{moment(item.meta.createAt).format('YYYY / MM / DD HH:mm:ss')}
					//- 		if categories_material.length > 0
					//- 			br.clear
					//- 		span.addType.button.button-primary.button-small(data-toggle="modal", data-target="#catModal", data-type="#{categories_type}", data-name="material") 
					//- 			i.icon-plus &nbsp;
					//- 			| 新增
					//- dl.admin_sarch_nav_type
					//- 	dt 颜色 ：
					//- 	dd
					//- 		each item in categories_color
					//- 			ul(class="item-id-"+item.id)
					//- 				li.fb.fs14
					//- 					span.catName #{item.attributes}
					//- 					span &nbsp; ( #{item.pid.length} )
					//- 				li
					//- 					span.catChange.button.button-highlight.button-small(data-toggle="modal", data-target="#catChangeModal", value="#{item._id}", data-name="#{item.name}") 修改
					//- 					if item.pid.length === 0
					//- 						span.categorydel.button.button-caution.button-small(data-type="product", data-id="#{item.id}") 删除
					//- 					else
					//- 						span.disabled.button.button-caution.button-small 删除
					//- 				li.cGray
					//- 					i.icon-time.mr5
					//- 					| #{moment(item.meta.createAt).format('YYYY / MM / DD HH:mm:ss')}
					//- 		if categories_color.length > 0
					//- 			br.clear
					//- 		span.addType.button.button-primary.button-small(data-toggle="modal", data-target="#catModal", data-type="#{categories_type}", data-name="color") 
					//- 			i.icon-plus &nbsp;
					//- 			| 新增
			else
				table.table.table_hover.table_bordered.table_striped
					thead
						tr
							th 分类名称
							th 录入时间
							th 查看
							th 更新
							th 删除
					tbody.tc
						if categories && categories.length > 0
							each item in categories
								tr(class="item-id-#{item._id}")
									td 
										a(href='/results?cat=#{item._id}&p=0',target="_blank").btn.btn-info
											span.catName #{item.name}
											b &nbsp;( #{len} )
									td #{moment(item.meta.updateAt).format('YYYY/MM/DD HH:mm:ss')}
									td
										a.button.button-primary.button-rounded.button-small(href='/results?cat=#{item._id}&p=0',target="_blank") 查看
									td
										span.button.button-highlight.button-rounded.button-small.catChange(data-toggle="modal", data-target="#catChangeModal", value="#{item._id}") 修改
									td
										if len == 0
											button.button.button-caution.button-rounded.button-small.categorydel(type="button", data-id="#{item._id}") 删除
										else
											span.button.disabled.button-caution.button-rounded.button-small 删除
						else
							tr
								td.lead.bg-info.text-info(colspan="5")
									strong 
										i.glyphicon.glyphicon-info-sign(style="margin-left:10px;margin-right:5px")
										| #{title}为空！
					tfood
						td(colspan="10")
							//- a.button.button-raised.button-primary(href="/admin/products/category/new") 新增分类
							span.button.button-raised.button-primary(data-toggle="modal", data-target="#catModal", value="#{categories_type}") 新增场景
	#catModal.imodal
		form(method="post", action="/admin/category/save")
			input(type="hidden", name="category[type]", value="#{categories_type}")
			input(type="hidden", name="category[name]", class="categoryname")
			.imodal-header 新增分类
			.imodal-body
				.form_group
					label.control_label(for="inputCategory") 分类
					.control_div
						input#inputCategory.form_control(type="text", name="category[attributes]")
			.imodal-footer
				.form_group(style="margin:0")
					label.control_label
					button.categoryBtn.button.button-raised.button-primary.button-small(type="sumbit") 录入
					span.button.button-raised.button-small.modal_close(style="margin-left:15px;") 取消
	#catChangeModal.imodal
		form(method="post", action="/admin/category/save")
			input(type="hidden", name="category[type]", value="#{categories_type}")
			input(type="hidden", name="category[name]", class="cateChangeGoryname")
			input#categoryid(type="hidden", name="category[_id]")
			input#categoryoldname(type="hidden", name="category[oldname]")
			.imodal-header 分类名称修改
			.imodal-body
				.form_group
					label.control_label(for="changeCategory") 名称
					.control_div
						input#changeCategory.form_control(type="text", name="category[attributes]")
			.imodal-footer
				.form_group(style="margin:0")
					label.control_label
					button.catChangeBtn.button.button-raised.button-primary.button-small(type="sumbit") 修改
					span.button.button-raised.button-small.modal_close(style="margin-left:15px;") 取消
	script(src="/js/admin_delete.js")
	script(src="/js/artalert.js")
	script.
		//- 分类删除
		del('categorydel','category');

		
		var catName;
		var changeCatName;
		var catId;
		var changeCategory = document.getElementById('changeCategory')
		$('.catChange').click(function(){
			var $t = $(this),
				$tr = $t.parent().parent();
			catName = $tr.find('.catName').text();
			changeCategory.value = catName;
			catId = $t.attr('value');
			document.getElementById('categoryid').value = catId;
			document.getElementById('categoryoldname').value = catName;
			var dataname = $(this).attr('data-name')
			$('.cateChangeGoryname').val(dataname)
		});

		$('.addType').click(function(){
			var dataname = $(this).attr('data-name')
			$('.categoryname').val(dataname)
		})

		$('.categoryBtn').click(function(){
			if($('#inputCategory').val().replace(/\s/g, "")==""){
				artalert('分类名称不能为空！')
				return false;
			}
			arttip('正在添加中...')
		});
		$('.catChangeBtn').click(function(){

			if(catName==$('#changeCategory').val() || $('#changeCategory').val().replace(/\s/g, "")==""){
				artalert('分类名称不能为空，或者同名')
				return false;
			}
			arttip('正在修改中...')
		});
