extends ../../layout_admin

block content
	.admin_wrap
		h2.pageheader
			i.icon-tags
			| #{title}
		.contentpanel
			table.table.table_hover.table_bordered.table_striped
				thead
					tr
						th 分类名称
						th 录入时间
						th 查看
						th 更新
						th 删除
				tbody.tc
					if categories && categories.length > 0
						each item in categories
							tr(class="item-id-#{item._id}")
								td 
									a(href='/results?cat=#{item._id}&p=0',target="_blank").btn.btn-info
										span.catName #{item.name}
										b &nbsp;( #{item.news.length} )
								td #{moment(item.meta.updateAt).format('YYYY/MM/DD HH:mm:ss')}
								td
									a.button.button-primary.button-rounded.button-small(href='/results?cat=#{item._id}&p=0',target="_blank") 查看
								td
									span.button.button-highlight.button-rounded.button-small.catChange(data-toggle="modal", data-target="#catChangeModal", value="#{item._id}") 修改
								td
									if item.news.length == 0
										button.button.button-caution.button-rounded.button-small.categorydel(type="button", data-id="#{item._id}") 删除
									else
										span.cGray --
					else
						tr
							td.lead.bg-info.text-info(colspan="5")
								strong 
									i.glyphicon.glyphicon-info-sign(style="margin-left:10px;margin-right:5px")
									| #{title}为空！
				tfood
					td(colspan="10")
						//- a.button.button-raised.button-primary(href="/admin/news/category/new") 新增分类
						span.button.button-raised.button-primary(data-toggle="modal", data-target="#catModal") 新增分类
	#catModal.imodal
		form(method="post", action="/admin/category/save")
			input(type="hidden", name="category[type]", value="#{categories_type}")
			.imodal-header 新增分类
			.imodal-body
				.form_group
					label.control_label(for="inputCategory") 分类
					.control_div
						input#inputCategory.form_control(type="text", name="category[name]")
			.imodal-footer
				.form_group(style="margin:0")
					label.control_label
					button.categoryBtn.button.button-raised.button-primary.button-small(type="sumbit") 录入
					span.button.button-raised.button-small.modal_close(style="margin-left:15px;") 取消
	#catChangeModal.imodal
		form(method="post", action="/admin/category/save")
			input(type="hidden", name="category[type]", value="#{categories_type}")
			input#categoryid(type="hidden", name="category[_id]")
			input#categoryoldname(type="hidden", name="category[oldname]")
			.imodal-header 分类名称修改
			.imodal-body
				.form_group
					label.control_label(for="changeCategory") 分类名称
					.control_div
						input#changeCategory.form_control(type="text", name="category[name]")
			.imodal-footer
				.form_group(style="margin:0")
					label.control_label
					button.catChangeBtn.button.button-raised.button-primary.button-small(type="sumbit") 修改
					span.button.button-raised.button-small.modal_close(style="margin-left:15px;") 取消
	script(src="/js/admin_delete.js")
	script.
		//- 分类删除
		del('categorydel','category');

		
		var catName;
		var changeCatName;
		var catId;
		var changeCategory = document.getElementById('changeCategory')
		$('.catChange').click(function(){
			var $t = $(this),
				$tr = $t.parents('tr');
			catName = $tr.find('.catName').text();
			changeCategory.value = catName;
			catId = $(this).attr('value');
			document.getElementById('categoryid').value = catId;
			document.getElementById('categoryoldname').value = catName;
		});
		$('.categoryBtn').click(function(){
			if($('#inputCategory').val().replace(/\s/g, "")==""){
				artalert('分类名称不能为空！')
				return false;
			}
			artalert('添加成功!')
		});
		$('.catChangeBtn').click(function(){
			if(catName==$('#changeCategory').val()){
				return false;
			}
			artalert('分类名称修改成功!')
		});
