extends ../../layout_admin

block content
	.admin_wrap
		h2.pageheader
			i.icon-tags
			| #{title}
		.contentpanel
			if allCategoryType && allCategoryType.length > 0
				each type in allCategoryType
					dl.admin_sarch_nav_type
						dt #{type.name.zh_cn} :
						dd
							if type.cid && type.cid.length > 0
								each item in type.cid
									ul(class="item-id-"+item.id)
										li.cat-name-first-li.fb.fs14
											span.catName
												b.attributes_zh_cn #{item.attributes.zh_cn}
												|, 
												b.attributes_en_us #{item.attributes.en_us}
											span &nbsp; ( #{item.pid.length} )
										li
											span.catChange.button.button-highlight.button-small(data-toggle="modal", data-target="#catChangeModal", data-id="#{item.id}", data-name="#{type.name.en_us}") 修改
											if item.pid.length === 0
												span.categorydel.button.button-caution.button-small(data-type="productCategory", data-id="#{item.id}") 删除
											else
												span.disabled.button.button-caution.button-small 删除
							div.clear
								span.addType.button.button-primary.button-small(data-toggle="modal", data-target="#catModal", data-type="#{type.name.en_us}", data-name="#{type.name.zh_cn}") 
									i.icon-plus.mr5
									| 新增#{type.name.zh_cn}
								if type.name.en_us !== "color"
									a.button.button-royal.button-small.ml10(href="/admin/goods/"+ type.name.en_us +"/banner/list")
										i.icon-cog.mr5
										| 设置背景图片
	#catModal.imodal
		form(method="post", action="/admin/category/save")
			input(type="hidden", name="category[type]", value="product")
			input(type="hidden", name="category[name]", class="categoryname")
			.imodal-header#imodal-header-title 新增分类
			.imodal-body
				.form_group
					label.control_label(for="inputCategory_zh_cn", style="width:12%;") 简体中文：
					.control_div(style="width:85%;")
						input#inputCategory_zh_cn.form_control(type="text", name="category[attributes][zh_cn]", placeholder="请输入属性的简体中文名称")
				.form_group
					label.control_label(for="inputCategory_en_us", style="width:12%;") 英&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;文：
					.control_div(style="width:85%;")
						input#inputCategory_en_us.form_control(type="text", name="category[attributes][en_us]", placeholder="Please enter the English name of the attribute")
			.imodal-footer
				.form_group(style="margin:0")
					label.control_label
					button.categoryBtn.button.button-raised.button-primary.button-small(type="sumbit") 录入
					span.button.button-raised.button-small.modal_close(style="margin-left:15px;") 取消
	#catChangeModal.imodal
		form(method="post", action="/admin/category/save")
			input(type="hidden", name="category[type]", value="product")
			input(type="hidden", name="category[name]", class="cateChangeGoryname")
			input#categoryid(type="hidden", name="category[_id]")
			.imodal-header 分类名称修改
			.imodal-body
				.form_group
					label.control_label(for="changeCategory_zh_cn", style="width:12%;") 简体中文：
					.control_div(style="width:85%;")
						input#changeCategory_zh_cn.form_control(type="text", name="category[attributes][zh_cn]")
				.form_group
					label.control_label(for="changeCategory_en_us", style="width:12%;") 英&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;文：
					.control_div(style="width:85%;")
						input#changeCategory_en_us.form_control(type="text", name="category[attributes][en_us]")
			.imodal-footer
				.form_group(style="margin:0")
					label.control_label
					button.catChangeBtn.button.button-raised.button-primary.button-small(type="sumbit") 修改
					span.button.button-raised.button-small.modal_close(style="margin-left:15px;") 取消
	script(src="/js/admin_delete.js")
	script(src="/js/artalert.js")
	script.
		//- 分类删除
		del('categorydel','category')
		
		var catId;
		//- 修改属性
		$('.catChange').click(function(){
			var $t = $(this),
				$tr = $t.parent().parent();
			$('#changeCategory_zh_cn').val($tr.find('.attributes_zh_cn').html())
			$('#changeCategory_en_us').val($tr.find('.attributes_en_us').html())
			catId = $t.attr('data-id');
			$('#categoryid').val(catId);
			var dataname = $(this).attr('data-name')
			$('.cateChangeGoryname').val(dataname)
		});
		$('.catChangeBtn').click(function(){
			$.artTip('<i class="icon-spinner icon-spin"></i>&nbsp;正在修改中...')
		});
		//- 添加属性
		$('.addType').click(function(){
			var dataname = $(this).attr('data-name')
			var dataTypeName = $(this).html()
			$('#imodal-header-title').html(dataTypeName)
			$('.categoryname').val(dataname)
		})

		$('.categoryBtn').click(function(){
			if($('#inputCategory_zh_cn').val().replace(/\s/g, "")=="" || $('#inputCategory_en_us').val().replace(/\s/g, "")==""){
				$.artTip('分类名称不能为空！', 1000)
				return false;
			}
			$.artTip('正在添加中...', 1000)
		});
