extends ../../layout_admin

block content
	.admin_wrap
		h2.pageheader
			i.icon-home
			| #{title}
		.contentpanel
			.total-box
				h6 当前留言数量
				div
					a.base-color-dark(href="messages/list")
						b #{messages.length} 
						| 条
			.total-box
				h6 注册用户数量
				div
					a.base-color-dark(href="user/list")
						b #{users.length} 
						| 人
			.total-box
				h6 当前商品数量
				div
					a.base-color-dark(href="product/list")
						b #{products.length} 
						| 件
			.total-box
				h6 商品咨询单数量
				div
					a.base-color-dark(href="inquiry/list")
						b #{inquiries.length} 
						| 单
			br.clear