extends ../../layout_admin

block content
	.admin_wrap
		h2.pageheader
			i.icon-film
			| #{title}
		.contentpanel
			form.form_horizontal(method="post", action="/admin/news", enctype="multipart/form-data")
				.form_group
					label.control_label 分类选择
					#radio_list.control_div
						each cat in newscategories
							label(style="margin:0 15px 0 5px;cursor: pointer;")
								input(type="radio", name="news[newscategory]", value=cat._id)
								| #{cat.name}
				.form_group
					input#newsTitle(type="text", name="news[title]",placeholder="文章标题")
					input#newsContent(type="text", name="news[content]",style="display:none;")
				.form_group
					script(type="text/javascript",src="/libs/ueditor/ueditor.config.js")
					script(type="text/javascript",src="/libs/ueditor/ueditor.all.min.js")
					script(type="text/javascript",src="/libs/ueditor/lang/zh-cn/zh-cn.js")
					script#editor(type="text/plain",style="width:100%;height:500px;")

				.form_group
					.col-sm-offset-1.col-sm-1
						button#btn_save.button.button-royal.button-primary(type="sumbit")
							b.glyphicon.glyphicon-save
							&nbsp;&nbsp;录 入
				input(type="hidden", name="news[uid]", value="#{user._id}")
				input(type="hidden", name="news[uname]", value="#{user.name}")
		script.
			//实例化编辑器
			//建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
			var ue = UE.getEditor('editor'),
				newsContent;

			function getContent() {
				var arr = [];
				//- arr.push("使用editor.getContent()方法可以获得编辑器的内容");
				//- arr.push("内容为：");
				arr.push(UE.getEditor('editor').getContent());
				newsContent = arr.join("\n");
			}

			//- 录入按键
			var btn_save = document.getElementById('btn_save')
			var newsTitleInput = document.getElementById('newsTitle')
			var newsContentInput = document.getElementById('newsContent')

			btn_save.onclick = function(){
				findRadioChecked()
				if(radioChecked==false){
					artalert('请选择文章分类')
					return false;
				}
				var newsTitle = newsTitleInput.value;
				if(newsTitle.replace(/\s/g, "")===''){
					artalert('标题不能为空，或空格符')
					return false;
				}
				getContent();
				newsContentInput.value = newsContent;
			};

			//- 判断分类是否有选择
			var input_radio = document.getElementsByName('news[newscategory]')
			var radioChecked = false;
			function findRadioChecked(){
				for(var i=0;i<input_radio.length;i++){
					if(input_radio.item(i).checked){
						radioChecked = true;
						return false;
					}
				}
			}
