extends ../../layout_admin

block content
	.admin_wrap
		h2.pageheader
			i.icon-list-alt
			| #{title}
		.contentpanel
			.col-md-12(style="padding-bottom:15px;")
				a.button.button-raised.button-primary.button-small(href="/admin/news/new") 新增文章
				a.button.button-raised.button-royal.button-small(href="/news",style="margin-left:15px;") 前台文章列表
			table.table.table_hover.table_bordered.table_striped
				thead
					tr
						th 分类
						th 更新时间
						th 文章标题
						th 文章内容
						th 发布人
						th PV
						th(style="width:100px;") 更新
						th(style="width:100px;") 删除
				tbody
					if news && news.length > 0
						each item in news
							tr(class="item-id-#{item._id}")
								td.tc #{item.category.name}
								td.tc #{moment(item.meta.updateAt).format('YYYY/MM/DD')}
								td 
									a(target="_blank", href="/news/#{item._id}") #{item.title}
								td
									p.admin_news_list_content #{item.text}
									if item.img && item.img.length > 0
										ul.news_img_list
											each imgsrc in item.img
												li
													img(src="#{imgsrc}")
									else
										div
											b !!!没有图片!!!
								td.tc #{item.uid.name}
								td.tc #{item.pv}
								td.tc
									a.button.button-highlight.button-rounded.button-small(href="/admin/news/update/#{item._id}") 修改
								td.tc
									button.newsdel.button.button-caution.button-rounded.button-small(type="button", data-id="#{item._id}", data-src="#{item.imgsrc}") 删除
					else
						tr
							td.lead.bg-info.text-info(colspan="5")
								strong 
									i.icon-info-sign(style="margin-left:10px;margin-right:5px")
									| 没有任何文章！
			.page(style="margin-top:15px;margin-bottom:30px;")
				- if(totalPage>1){
					- if(currentPage-1 == 0){
							span.page_unclick: i.icon-double-angle-left
							span.page_unclick: i.icon-angle-left
					-	}else{
							a(href='/admin/news/list?p=1',csstip-top='第一页'): i.icon-double-angle-left
							a(href='/admin/news/list?p=#{currentPage-1}',csstip-top='上一页'): i.icon-angle-left
					-	}
					-	for(var i=0;i<totalPage; i++){
						-	if(currentPage == (i+1)){
								span.page_stand #{currentPage}
						-	}else{
								a(href='/admin/news/list?p=#{i+1}') #{i+1}
						-	}
					-	}
					- if(currentPage < totalPage){
							a(href='/admin/news/list?p=#{currentPage+1}',csstip-top='下一页'): i.icon-angle-right
							a(href='/admin/news/list?p=#{totalPage}',csstip-top='最后一页'): i.icon-double-angle-right
					-	}else{
							span.page_unclick: i.icon-angle-right
							span.page_unclick: i.icon-double-angle-right
					-	}
				- }
			script(src="/js/admin_delete.js")
			script(src="/js/artalert.js")
			//- 文章删除
			script.
				del('newsdel','news');

