extends ../../layout_admin

block content
	.admin_wrap
		h2.pageheader
			i.icon-picture
			| #{title}
		.contentpanel
			table.table.table_hover.table_bordered.table_striped
				thead
					tr
						th(width="100") 属性名称
						th(width="450") 图片
						th 描述
						th(width="100") 更新
				tbody
					if categories && categories.length > 0
						each item in categories
							tr(class="item-id-#{item._id}")
								td.tc #{item.attributes.zh_cn}
								td
									if item.banner
										div(style='width:450px;height:150px;background:#eee url("/banner/#{item.banner}") repeat center center;background-size:auto 150px;')
										//- img(src="/banner/#{item.banner}", style="width:450px;height:150px;")
									else
										div(style="width:450px;height:150px;background-color:#eee")
								td #{item.description}
								td.tc: span.editGoodsBanner.button.button-highlight.button-rounded.button-small(data-toggle="modal", data-target="#goodsBannerModal", data-id=item.id) 修改
					else
						tr
							td.lead.bg-info.text-info.tc(colspan="5")
								div.fb.pt10 
									i.icon-exclamation-sign.mr5
									| 没有对应的商品属性！
								div.pt10.pb10
									a.button.button-raised.button-primary(href="/admin/product/category/list") 添加商品属性

		style.
			#goodsBannerModal{
				left:50%;top:10%;
				width:700px;margin-left:-350px;
				background-color:white;
				z-index:101;
				display:none;
			}
			#goodsBannerModal h5{
				background-color:#1caf9a;color:white;
				font:bold 18px/30px microsoft yahei;
				padding:10px 15px;
			}
			#goodsBannerModal h6{
				background-color:#eee;
				padding:5px 10px;
				margin-top:10px;
				margin-bottom:10px;
			}
			#goodsBannerModal ul{padding:0 10px 15px;}
			#gbmImg{
				width:680px;height:150px;background-color:#f3f3f3;
				background-size:auto 150px;margin-bottom:5px;
				background-position:center center;
			}
			#goodsBannerModal textarea{
				resize:none;
				padding:3px 8px;
				font:14px/26px microsoft yahei;
				border:1px solid #aaa;
				width:680px;height:182px;
				box-sizing:border-box;
			}
		form#goodsBannerModal.pf(method="post", action="/admin/goods/banner/save", enctype="multipart/form-data")
			h5
				i.icon-upload.mr10
				span#gbmAttributes
				| 海报更新
			ul
				li
					h6.fs14 海报地址：
					div#gbmImg
					input(type="file", name="uploadPoster", accept="image/*")
				li
					h6.fs14 属性描述：
					textarea#gbmTextarea(name="googsbanner[description]")
					input#gbmId(type="hidden", name="googsbanner[id]")
					input#gbmId(type="hidden", name="googsbanner[attributes]", value=bannertype)
				li.pt10
					button.button.button-small.button-glow.button-primary.button-rounded.button-raised.button-primary() 确认更新
	script.
		$('.editGoodsBanner').click(function(){
			var $modal = $(this),
				id = $modal.attr('data-id')
			if($("input[name='googsbanner[id]']").val() === id) return $.toggleModal($modal)
			$('#gbmImg').removeAttr('style')
			$('#gbmTextarea').val('')
			$("input[name='uploadPoster']").val('')
			$.artTip('loading')
			$.ajax({
				type: 'get',
				url: '/admin/goods/banner/update/'+id
			})
			.done(function(results){
				console.log(results)
				if(results.success === 1){
					$.toggleModal($modal)
					$('#gbmId').val(results.id)
					$('#gbmAttributes').html(results.attributes.zh_cn+'&nbsp;')
					if(results.banner){
						$('#gbmImg').css('background-image','url(/banner/'+results.banner+')')
					}else{
						$('#gbmImg').removeAttr('style')
					}
					$('#gbmTextarea').val(results.description)
					$.closeArtTip('获取数据成功',100)
				}else{
					$.closeArtTip('获取数据失败',1000,$('.modal_close').click())
					
				}
			})
		})

	script(src="/js/artalert.js")