extends ../../layout_admin

block content
	.admin_wrap
		h2.pageheader
			i.icon-magnet
			| #{title}
		.button-group.pl20.pt20
			if product._id
				button.button.button-royal.button-rounded.button-raised.button-small(type="button") 基本信息
				a.button.button-rounded.button-raised.button-small(type="button", href="/admin/product/update/"+product._id+"?edit=photo") 图片管理
				a.button.button-rounded.button-raised.button-small(type="button", href="/admin/product/update/"+product._id+"?edit=content") 商品详情
			else
				button.button.button-royal.button-rounded.button-raised.button-small(type="button") 基本信息
				button.button.button-rounded.button-raised.button-small(type="button", disabled="") 图片管理
				button.button.button-rounded.button-raised.button-small(type="button", disabled="") 商品详情
		.contentpanel
			form.form_horizontal(method="post", action="/admin/product", enctype="multipart/form-data")
				if product._id
					input(type="hidden", name="product[_id]", value=product._id)
				.form_group
					label.control_label 商品名称：
					.control_div
						input(type="text", name="product[title]",placeholder="请输入商品名称", value=product.title)
				.form_group
					label.control_label 分类选择：
					#radio_list.control_div
						each cat in categories
							label(style="margin:0 15px 0 5px;cursor: pointer;")
								if product._id
									input.category(type="radio", name="product[category]", value=cat._id, checked=cat._id.toString()==product.category.toString())
									| #{cat.name}
								else
									input(type="radio", name="product[category]", value=cat._id)
									| #{cat.name}
				.form_group
					label.control_label 商品尺寸：
					.control_div.product_size_input
						if product._id
							label 长
							input(type="text", name="product[size].h", value=product.size.h)
							label *
							label 宽
							input(type="text", name="product[size].w", value=product.size.w)
							label *
							label 高
							input(type="text", name="product[size].d", value=product.size.d)
							label (CM)
						else
							label 长
							input(type="text", name="product[size].h")
							label *
							label 宽
							input(type="text", name="product[size].w")
							label *
							label 高
							input(type="text", name="product[size].d")
							label (CM)
				
				each cate in categories
					- console.log(cate)
					.form_group
						label.control_label #{cate.name}：
						.control_div
							each item in cate.attributes
								span #{item.name}
				.form_group
					label.control_label 使用材质：
					.control_div
						input(style="width:150px;", type="text", name="product[material]",placeholder="请输入使用材质", value=product.material)
				.form_group
					label.control_label 主体颜色：
					.control_div
						input(style="width:150px;", type="text", name="product[colour]",placeholder="请输入主体颜色", value=product.colour)
				.form_group
					label.control_label 销售价格：
					.control_div
						input(style="width:150px;", type="text", name="product[price]",placeholder="请输入销售价格", value=product.price)
				.form_group
					label.control_label 促销价格：
					.control_div
						input(style="width:150px;", type="text", name="product[sale]",placeholder="请输入促销价格", value=product.sale)

				.form_group
					.col-sm-offset-1.col-sm-1
						if product._id
							button#btn_save.button.button-primary.button-primary.button-longshadow-right(type="sumbit")
								b.icon-upload
								&nbsp;&nbsp;更 新
						else
							button#btn_save.button.button-primary.button-primary.button-longshadow-right(type="sumbit")
								b.icon-hdd
								&nbsp;&nbsp;录 入
				input(type="hidden", name="product[uid]", value="#{user._id}")


