extends ../../layout_index

block content
	.wrap
		.nav.mt10
			a(href="/news")
				i.fs14.icon-home
			a(href="/store") 商城首页
			a(href="/inquiry") 询价单
			b 询价单创建成功
		div.progress.progress_step_3
			div.progress_step
				span.s_step 1
				p 询价单列表
			div.progress_step
				span.s_step 2
				p 填写信息
			div.progress_step
				span.s_step 3
					span.s_1
					span.s_2
				p 创建成功
			div.progress_line
			div.progress_step_line
		.shopcart_head
			i.icon-ok-circle.mr10
			| 询价单创建成功
		dl.order_success
			dt.success_tip
				i.icon-ok-circle.mr10
				| 询价单创建成功！
			dd: span.cGray 创建时间：#{moment(inquiry.data).format('YYYY-MM-DD dddd HH:mm:ss')}
			dd
				span.cGray 订单编号：
				a.order_link(href="/user/#{user.name}/inquirys/#{inquiry.id}") #{inquiry.id}
			dd(style="color:#088") 我们会在创建时间之后的5个工作内通过电子邮箱或你的联系电话回复你，请耐心等待！
			dd
				p.pb10.cGray 你可通过以下方式继续访问：
				a.button.button-primary.button-small(href="/user/#{user.name}/inquirys") 我的订单
				a.button.button-primary.button-small.ml10(href="/store") 浏览商城
				a.button.button-primary.button-small.ml10(href="/index") 首页
	.bg_fixed