extends ../../../layout_index
block append head
	link(rel="stylesheet" href="/css/inquiry.css")
block content
	.wrap
		.nav.mt10
			a(href="/news")
				i.fs14.icon-home
			a(href="/store" onclick="javascript:location.replace(this.href);event.returnValue=false;") 商城首页
			a(href="/inquiry" onclick="javascript:location.replace(this.href);event.returnValue=false;") 询价单
			b #{title}
		div.progress.progress_step_3
			div.progress_step
				span.s_step 1
				p 询价单列表
			div.progress_step
				span.s_step 2
				p 填写信息
			div.progress_step
				span.s_step 3
					span.s_1
					span.s_2
				p 创建成功
			div.progress_line
			div.progress_step_line
		.shopcart_head
			i.mr10(class=`${inquiry? 'icon-ok-circle' : 'icon-exclamation-sign'}`)
			| #{title}
		dl.order_success
			dt.success_tip
				i.mr10(class=`${inquiry? 'icon-ok-circle' : 'icon-exclamation-sign'}`)
				| #{title + '！'}
			if inquiry
				dd
					span.cGray 咨询单编号：
					a.order_link(href=`/user/${user.name}/inquirys/${inquiry.id}` onclick="javascript:location.replace(this.href);event.returnValue=false;") #{inquiry.id}
				dd
					span.cGray 创建时间：#{moment(inquiry.data).format('YYYY-MM-DD HH:mm:ss')}
				dd(style="color:#088") 我们会在创建时间之后的 5 个工作内通过电子邮箱或你的联系电话回复你，请耐心等待！
			else
				dd(style="color:#088") 无法查询到相对应的咨询单，可能是用户未登录，或者是该用户下不存在该订单！
			dd
				p.pb20.cGray 你可通过以下方式继续访问：
				//- a.button.button-primary.button-small(href=`/user/${user.name}/inquirys`) 我的订单
				a.button.button-primary.button-small.mr10(href="/inquiry" onclick="javascript:location.replace(this.href);event.returnValue=false;") 咨询单
				a.button.button-primary.button-small.mr10(href="/store" onclick="javascript:location.replace(this.href);event.returnValue=false;") 浏览商城
				a.button.button-primary.button-small.mr10(href="/index" onclick="javascript:location.replace(this.href);event.returnValue=false;") 首页
	.bg_fixed