extends ../layout_index
block append head
	link(rel="stylesheet" href="/css/inquiry.css")
block content
	.wrap
		.nav.mt10
			a(href="/" )
				i.fs14.icon-home
			a(href="/store") 商城首页
			a(href="/inquiry") 询价单列表
			b 创建询价单
		div.progress.progress_step_2
			div.progress_step
				span.s_step 1
				p 询价单列表
			div.progress_step
				span.s_step 2
					span.s_1
					span.s_2
				p 填写信息
			div.progress_step
				span.s_step 3
				p 发送完成
			div.progress_line
			div.progress_step_line
		form(method="post" action="/create/inquiry" enctype="multipart/form-data").mb50
			input(type="hidden" name="inquiry[uid]" value=user._id)
			dl.create_order_userinfo
				dt.shopcart_head
					i.icon-edit.mr10
					| 我的资料
				dd.pb5
					label.selectType.On
						i.icon-building.mr10
						| 公司
					label.selectType
						i.icon-user.mr10
						| 个人

				dd.animation
					.create_order_userinfo_input
						input(type="text" placeholder="请输入公司名称" name="inquiry.from[company]")
						i.icon-building
				dd
					.create_order_userinfo_input
						input(type="text" placeholder="请输入联系名字" name="inquiry.from[user]")
						i.icon-user
				dd
					.create_order_userinfo_input
						input(type="text" placeholder="请输入联系电话" name="inquiry.from[phone]" maxlength="text")
						i.icon-phone
				dd
					.create_order_userinfo_input
						input(type="text" placeholder="请输入邮箱地址" name="inquiry.from[email]")
						i.icon-envelope
				dd
					textarea.create_order_userinfo_textarea(placeholder="如需备注" name="inquiry.from[description]")
				dd.pb20.tc
					//- button#createBtn.createBtn.animation(type="sumbit") 确认创建询价单
					button#createBtn(type="sumbit" onclick="javascript:location.replace(this.href);event.returnValue=false;") 创建询价单
			table.shopcart_list(style="width:70%;")
				caption.shopcart_head
					i.icon-list.mr10
					| 询价单列表
				thead
					tr
						th(width="140") 商品图片
						th.tl 描述
						th.tc 价格
						th 目标数量
							i.icon-edit.ml5
						th(width="150") 目标单价
							i.icon-edit.ml5
				tbody
					if goods && goods.length>0
						- var priceFontSize = 'fs12'
						- var goodsSaleNoLabel = 'goods-sale-no-label'
						each item in goods
							tr(id=item.id)
								td
									img(src="/data/goods/"+item.id+"/"+item.cover)
								td.shopcart_goods_name
									ul
										include ../../../themplate/goods_attributes
									input(type="hidden" name="inquiry.goods[pid.id]" value=item.id)
								td.mt5
									include ../../../themplate/goods_price
								td.tc
									input.fs14.orderQuantity(
										onfocus="enterKeyPress(this,'quantity')" 
										onblur=`blurFormatNumber(this, Quantity${item.id}, 'quantity')` 
										maxlength="11" 
										type="text" 
										value="1 PCS" 
										readonly=true 
										oncontextmenu="return false" )
									input(id=`Quantity${item.id}` type="hidden" name="inquiry.goods[pid.quantity]" value="1")
									div.cAaa.fs11.cd.mt5
										i.icon-lightbulb.mr5
										span 点击数量修改
								td.tc
									input.fs14.orderPrice(
										onfocus="enterKeyPress(this)" 
										onblur=`blurFormatNumber(this, Price${item.id})` 
										maxlength="11" 
										type="text" 
										value=`${formatPrice(item.sale || item.price)}` 
										readonly=true 
										oncontextmenu="return false" )
									input(id=`Price${item.id}` type="hidden" name="inquiry.goods[pid.fromprice]" value=`${item.sale || item.price}`)
									div.cAaa.fs11.cd.mt5
										i.icon-lightbulb.mr5
										span 点击价格修改
			br.clear
	.bg_fixed
	script(src="/js/index/inquiry-create.js")