extends ../layout_index
block append head
	link(rel="stylesheet" href="/css/inquiry.css")
block content
	.wrap
		.nav.mt10
			a(href="/")
				i.fs14.icon-home
			a(href="/store") 商城首页
			b 询价单列表
		div.progress.progress_step_1
			div.progress_step
				span.s_step 1
					span.s_1
					span.s_2
				p 询价单列表
			div.progress_step
				span.s_step 2
				p 填写信息
			div.progress_step
				span.s_step 3
				p 发送完成
			div.progress_line
			div.progress_step_line
		form#inquiry-form(method="get", action="/create/inquiry/info", enctype="multipart/form-data")
			if goods && goods.length>0
				table.shopcart_list.mb50
					caption.shopcart_head
						i.icon-list.mr10
						| 询价单列表
					thead
						tr
							th(width="35")
							th(width="140") 商品图片
							th.tl 描述
							th 尺寸
							th 单价
							th(width="150") 数量
							th(width="150") 操作
					tbody
						- var attrHideSize = true
						each item in goods
							- var item = item.pid
							tr(id=item.id, stitle=item.title)
								td.tc.pr
									input.select-goods.pa(name="inquiry[pid]", type="checkbox", value=item.id)
									span.icon-check-empty.cGray.fs18
									span.icon-check.none.fs18
								td
									a(target="_bank", href="/store/id/"+item.id)
										img(src="/data/goods/"+item.id+"/"+item.cover)
								td.shopcart_goods_name.vertical-align-middle
									ul
										include ../../../themplate/goods_attributes
								td.tc.vertical-align-middle #{global.formatSize(item.size)}
								td.tc.vertical-align-middle
									include ../../../themplate/goods_price
								td.tc.vertical-align-middle #{item.quantity || 1}
								td.tc
									span.remove-btn.shopcart_goods_remove(data-id=item.id)
										i.icon-remove
										| 移出
					tfoot
						tr
							td.tc
								input#select-all.pa(type="checkbox")
								span.icon-check-empty.cGray.fs18
								span.icon-check.none.fs18
							td(colspan="6")
								| 已选中
								b#select-num.ml5.mr5.cRed 0
								| 件商品
								span#remove-all.remove-btn.ml15
									i.icon-remove
									| 全部移出
						tr
							td(colspan="7").tr.pt20.pb20
								if user
									button#createOrderBtn.button.button-glow.button-primary.button-rounded.button-raised.button-primary.mr20(type="sumbit") 创建询价单
								else
									span.gray.fs12 你尚未登录，请
									span.base-color-dark.fs12.cp(data-toggle="modal" data-target="#signinModal" page-name="inquiry") 登录
									span.button.button-glow.button-primary.button-rounded.button-raised.button-primary.ml20.mr20(
										data-toggle="modal" 
										data-target="#signinModal" 
										page-name="inquiry"
									) 创建询价单
			else
				.shopcart_head
					i.icon-list.mr10
					| 询价单列表
				.shopcart_list.pt30.pb50.mb50.tc.bg-white
					i.icon-star-empty.icon-4x.base-color-light
					p.fb.pt10.pb20.base-color(style="letter-spacing: 2px;") 询价单列表里没有任何商品，
						br
						| 请前往商品首页添加。
					a(href="/store").button.button-royal.button-primary 商品首页
	.bg_fixed
	script(src="/js/index/inquiry-index.js")
	if user
		script.
			$('#createOrderBtn').click(function(){
				if(!CheckboxIsChecked()){
					$.artTip({
						title: '<i class="icon-exclamation-sign mr5"></i>请选择商品 !', 
						time: 800
					})
					return false
				}
			})
			function CheckboxIsChecked(){
				var isCheacked = false
				$('input.select-goods').each(function(i){
					if($(this).is(':checked')){
						isCheacked = true
						return
					}
				})
				return isCheacked
			}