extends ../../../layout_index
block append head
	link(rel="stylesheet" href="/css/inquiry.css")
block content
	.wrap
		.nav.mt10
			a(href="/news")
				i.fs14.icon-home
			a(href="/store") 商城首页
			b 询价单列表
		div.progress.progress_step_1
			div.progress_step
				span.s_step 1
					span.s_1
					span.s_2
				p 询价单列表
			div.progress_step
				span.s_step 2
				p 填写信息
			div.progress_step
				span.s_step 3
				p 发送完成
			div.progress_line
			div.progress_step_line
		form#inquiry-form(method="get", action="/create/inquiry/info", enctype="multipart/form-data")
			if goods && goods.length>0
				table.shopcart_list.mb50
					caption.shopcart_head
						i.icon-list.mr10
						| 询价单列表
					thead
						tr
							th(width="35")
							th(width="140") 商品图片
							th.tl 描述
							th 尺寸
							th 单价
							th(width="150") 数量
					tbody
						each item in goods
							tr(id=item.pid.id, stitle=item.pid.title)
								td.tc.pr
									input.select-goods.pa(name="inquiry[pid]", type="checkbox", value=item.pid.id)
									span.icon-check-empty.cGray.fs18
									span.icon-check.none.fs18
								td
									a(target="_bank", href="/store/id/"+item.pid.id)
										img(src="/data/goods/"+item.pid.id+"/"+item.pid.cover)
								td.shopcart_goods_name.vatop
									ul
										li
											h3
												a(target="_bank", href="/store/id/"+item.pid.id) #{item.pid.title}
										//- if item.pid.scene && item.pid.scene.length > 0
											li 场景： 
												each i_scene in item.pid.scene
													span.ml5 #{i_scene.attributes.zh_cn}
										if item.pid.scene && item.pid.scene.length > 0
											li 场景：
												each scene in item.pid.scene
													span.ml5 #{scene.attributes.zh_cn}
										if item.pid.sort && item.pid.sort.length > 0
											li 类型：
												each sort in item.pid.sort
													span.ml5 #{sort.attributes.zh_cn}
										if item.pid.material && item.pid.material.length > 0
											li 材质：
												each material in item.pid.material
													span.ml5 #{material.attributes.zh_cn}
										if item.pid.color && item.pid.color.length > 0
											li 颜色：
												each color in item.pid.color
													span.ml5 #{color.attributes.zh_cn}
										li
											span.remove-btn.mt15.shopcart_goods_remove(data-id=item.pid.id)
												i.icon-remove
												| REMOVE
								//- td.tc.vatop 宽#{item.pid.size.w}×深#{item.pid.size.d}×高#{item.pid.size.h} (cm)
								td.tc.vatop #{formatSize(item.pid.size)}
								td.tc.vatop
									b.fs16 #{formatPrice(item.pid.sale || item.pid.price)}
								td.tc.vatop #{item.quantity}
					tfoot
						tr
							td.tc
								input#select-all.pa(type="checkbox")
								span.icon-check-empty.cGray.fs18
								span.icon-check.none.fs18
							td(colspan="5")
								| 已选中
								b#select-num.ml5.mr5.cRed 0
								| 件商品
								span#remove-all.remove-btn.ml15
									i.icon-remove
									| REMOVE ALL
						tr
							td(colspan="6").tr.pt20.pb20
								if user
									button#createOrderBtn.button.button-glow.button-primary.button-rounded.button-raised.button-primary.mr20(type="sumbit") 创建询价单
								else
									span.gray.fs12 你尚未登录，请
									span.base-color-dark.fs12.cp(data-toggle="modal" data-target="#signinModal" page-name="inquiry") 登录
									span.button.button-glow.button-primary.button-rounded.button-raised.button-primary.ml20.mr20(
										data-toggle="modal" 
										data-target="#signinModal" 
										page-name="inquiry"
									) 创建询价单
			else
				.shopcart_head
					i.icon-list.mr10
					| 询价单列表
				.shopcart_list.pb20.mb50.tc.bg-white
					p.fb.pt20.pb10 询价单列表里没有任何商品，请前往商品中心添加。
					a(href="/store").button.button-royal.button-primary 商品中心
	.bg_fixed
	script(src="/js/shopcart.js")
	script.
		$(function(){
			var sid = [], stitle = []
			$.checkBoxSelect(['.select-goods', '#select-all', 'tbody tr', '#select-num', '#remove-all'], function (info) {
				sid = info.sid
				stitle = info.stitle
			})
			//- 删除询价单列表里商品
			$('.shopcart_goods_remove, #remove-all').click(function(){
				//- 单项删除
				var pid = $(this).attr('data-id'),
					goodsTitle = $(this).parents('tr').attr('stitle')
				//- 多项删除
				if(!pid){
					if(!sid.length) return $.artTip('<i class="icon-exclamation-sign mr5"></i>请选择商品 !', 1000)
					pid = sid
					goodsTitle = stitle.length > 4 ? stitle.slice(0, 3) + '等' + stitle.length + '件' : stitle
				}
				var	artConfimTip = '是否将询价单中的 “<b class="cBlue">' + goodsTitle + '</b>” 商品移除？'
				$.artConfim(artConfimTip, 'confimFrame', 'zh_cn', function(sure){
					if (!sure) {
						$.artTip('<i class="icon-spinner icon-spin"></i>&nbsp;&nbsp;uploading...')
						$.ajax({
							type: 'DELETE',
							url: '/shopcart/del',
							data: {'pid': pid},
							dataType:"json",
							async:false,
							cache:false,
							success: function(results){
								if(results.success===1){
									$.closeArtTip('删除成功！',800)
									//- $('#'+id).remove();
									var lessNum = 1
									if(typeof pid === 'string') {
										$('#'+pid).remove()
									} else {
										lessNum = pid.length
										for(var i = 0; i < pid.length; i++) {
											$('#' + pid[i]).remove()
										}
									}
									ListIsEmpty(results.cart_goods_num, lessNum)
								}else{
									$.closeArtTip('删除失败！',800)
								}
							}
						})
					}
				})
			})
			function ListIsEmpty(num, lessNum) {
				var less_num = $('#select-num').text() - lessNum
				$('#select-num').html(less_num < 0 ? 0 : less_num)
				$('.head_shopcart_num').html(num)
				if(num === 0){
					var emptyList = '<div class="shopcart_head">'+
									'<i class="icon-list mr10" ></i>询价单列表</div>'+
									'<div class="shopcart_list pb20 mb50 tc bg-white" >'+
									'<p class="fb pt20 pb10">询价单列表里没有任何商品，请前往商品中心添加。</p>'+
									'<a class="button button-royal button-primary" href="/store">商品中心</a>'+
									'</div>'
					$('.table.shopcart_list').remove()
					$('#inquiry-form').html(emptyList)
				}
			}
		})
	if user
		script.
			$('#createOrderBtn').click(function(){
				if(!CheckboxIsChecked()){
					$.artTip('<i class="icon-exclamation-sign mr5"></i>请选择商品 !', 1000)
					return false
				}
			})
			function CheckboxIsChecked(){
				var isCheacked = false
				$('input.select-goods').each(function(i){
					if($(this).is(':checked')){
						isCheacked = true
						return
					}
				})
				return isCheacked
			}