extends ../includes/layout

block content
	.admin_wrap
		h2.pageheader
			i.icon-user
			| #{title}
		.contentpanel
			div.user-info-frame
				img.avatar.fl.mt10(src=`/images/${user.avatar}`, width="80", height="80")
				ul.user-info
					li 用户名：
						b.base-color-dark #{user.name}
					li 权限：
						b.base-color-dark #{user.role > 50 ? '超级管理员' : '注册用户'}
					li 注册时间：
						b.base-color-dark #{moment(user.meta.createAt).format('YYYY-MM-DD HH:mm:ss')}
					li.mt10
						span.o-green-style(style="padding:5px 15px")
							| 询价单
							span #{' (' + orders.length + ')'}
						span.o-green-style.ml10(style="padding:5px 15px")
							| 收藏商品
							span #{' (' + products.length + ')'}
					if orders && orders.length > 0
						h6.admin_order_list_head.mt10
							i.icon-list.mr10
							|询价单列表
							b #{' (' + orders.length + ')'}
						table.table_striped.table_bordered
							tr
								th 订单ID
								th 发送时间
								th 主动删除
								th 类型
								th 操作
							each order in orders
								tr.tc
									td
										a.base-color-dark(href=`/admin/order/${order.id}`) #{'No.' + order.id}
									td: span.cGray #{moment(order.meta.createAt).format('YYYY-MM-DD HH:mm:ss')}
									td #{order.udelete ? '已删除' : '否'}
									td
										if order.from.company
											span.o-green-style
												i.icon-building
												| 企业
										else
											span.o-gray-style
												i.icon-user
												| 个人
									td
										if order.udelete
											span.ml10.button.button-caution.button-rounded.button-small 删除
										else
											| --
					if products && products.length > 0
						h6.admin_order_list_head.mt10
							i.icon-list.mr10
							| 收藏列表
							b #{' (' + products.length + ')'}
						table.table_striped.table_bordered
							tr
								th(width="80") 图片
								th 名称
								th 单价
								th 操作
							each product in products
								tr(id="#{product.id}").tc
									td
										img(src='/data/products/p'+product.id+'/'+product.cover width="80" height="80")
									td(style="vertical-align:top;")
										ul.tl.fs12
											li
												a.base-color-dark.fb.fs16(href=`/store/id/${product.id}` target="_blank") #{product.title}
											li 尺寸：
												span.ml5 #{formatSize(product.size)}
											if product.scene && product.scene.length > 0
												li 场景：
													each scene in product.scene
														span.ml5 #{scene.attributes.zh_cn}
											if product.sort && product.sort.length > 0
												li 类型：
													each sort in product.sort
														span.ml5 #{sort.attributes.zh_cn}
											if product.material && product.material.length > 0
												li 材质：
													each material in product.material
														span.ml5 #{material.attributes.zh_cn}
											if product.color && product.color.length > 0
												li 颜色：
													each color in product.color
														span.ml5 #{color.attributes.zh_cn}
									td.fb.fs16 #{formatPrice(product.price)}
									td
										a(href=`/store/id/${product.id}` target="_blank").button.button-primary.button-tiny 查看

