extends ../includes/layout

block content
	.admin_wrap
		h2.pageheader
			i.icon-user
			| #{title}
		.contentpanel
			table.table.table_hover.table_bordered.table_striped
				thead
					tr
						th 头像
						th 用户名称
						th 角色权限
						th 创建时间
						th 查看
						th 删除
				tbody.tc
					each item in users
						tr(id=`item-id-${item._id}`)
							td 
								img.user_avatar(src=`/images/${item.avatar}`)
							td
								a.base-color-dark.fb(href=item.name target="_blank") #{item.name}
							td
								if item.role === 51
									| 管理员
								else
									| 普通用户
							td #{moment(item.meta.updateAt).format('YYYY/MM/DD/ HH:mm')}
							td
								a.button.button-primary.button-rounded.button-small(target="_blank", href=item.name) 查看
							td
								if item.role === 51
									button.button.button-caution.button-rounded.button-small(disabled="disabled") 删除
								else
									button.button.button-caution.button-rounded.button-small(
										type="button" 
										onclick="dataDel({'url': '/admin/user/del','objectId': '" + item._id + "'})" 
									) 删除
	script(src="/js/admin/data-delete.js")