extends ../includes/layout

block content
	.admin_wrap
		h2.pageheader
			i.icon-list
			| #{title}
		.contentpanel
			.button-group
				if !type && !name
					span.button.button-primary.fs14.fb 全部询价单
				else
					a(href="/admin/inquiry/list").button.fs14.fb 全部询价单
				span.button-dropdown(data-buttons="dropdown")
					if !type
						span.button.fs14.fb 类型
							i.icon-angle-down.ml10
					else
						- if(type.toString() === 'company'){
						-	var cntype = "企业"
						- }else{
						-	var cntype = "个人"
						- }
						span.button.button-primary.fs14.fb #{cntype}
							i.icon-angle-down.ml10
					ul.button-dropdown-list.is-below.tc
						li.button-dropdown-divider: a(href="?type=company")
							i.icon-building.mr10
							|企业
						li.button-dropdown-divider: a(href="?type=user")
							i.icon-user.mr10
							|个人
			if name
				p.fs14.cd.admin_order_tip.mb10
					i.icon-search.mr10
					b.cBlue.mr5 #{inquiries[0].uid.name}
					| 用户，共提交了
					b  ( #{inquiries.length} ) 
					| 条询价单记录
			table.table.table_hover.table_bordered.table_striped
				thead
					tr
						th 订单ID
						th 发送时间
						th 是否过期
						th 发送用户
						th 主动删除
						th 类型
						th 操作
				tbody
					if inquiries && inquiries.length > 0
						each item in inquiries
							tr.tc
								td
									a.base-color-dark(href=item.id) #{'No.' + item.id}
								td 
									span.cGray #{moment(item.meta.createAt).format('YYYY/MM/DD HH:mm:ss')}
									br
									| #{moment(item.meta.createAt).add(5, 'days').format('YYYY/MM/DD HH:mm:ss')}
								td #{moment(item.meta.createAt).add(5, 'days').fromNow()}
								td
									a.base-color-dark(href=`?name=${item.uid.id}`) #{item.uid.name}
								td #{item.udelete ? '已删除' : '否'}
								td
									if item.from.company
										span.o-green-style
											i.icon-building
											| 企业
									else
										span.o-gray-style
											i.icon-user
											| 个人
								td
									a(href=item.id).button.button-highlight.button-rounded.button-small(
										type="button" 
										data-id="#{item.id}" 
										data-src="#{item.imgsrc}") 处理
					else
						tr.tc
							td.lead.bg-info.text-info(colspan="10")
								strong
									i.icon-info-sign(style="margin-left:10px;margin-right:5px")
									| 没有任何数据！